<meta charset="utf-8">

<ul>
  <li>Conflict-free</li>
  <li>Environmentally friendly</li>
  <li>Lab crafted in USA from 100% Silicon Carbide</li>
</ul>


<p>The most practical gem—ever. Our Moissanites are lab crafted to be a 
  colorless icy white that produces the most brilliant shine and sparkle.</p>
