<meta charset="utf-8">

<ul>
  <li>Conflict-free</li>
  <li>Environmentally friendly</li>
  <li>Lab crafted in USA from 100% Silicon Carbide</li>
</ul>

<!-- <ul>
  <li>Perfect clarity, never cloudy, and free from inclusions.</li>
  <li>Completely colorless (Equivalent to D-E-F color range of Diamonds).</li>
  <li>Rated 9.25 out of 10 on the MOH's scale of hardness.</li>
</ul> -->
<!-- <p><a href="google.com">&nbsp;</a></p> -->


<p>The most practical gem—ever. Our Moissanites are a colorless icy white that 
  produce the most brilliant shine and sparkle. This gem is commonly mistaken for its 
  over-marketed counterpart with its strikingly similar visual qualities - even professional 
  jewelers admit they have difficulty telling the two gemstones apart. </p>
