<div class="site-nav__dropdown" id="SiteNavLabel-about">
  <div class="c-column-flex-container">
    <div class="c-column-flex-1 align--top-middle">
      <ul>
        <li class="padding-left-xs padding-right-s padding-top-s padding-bottom-s">
          <a href="/pages/our-story" class="site-nav__link site-nav__child-link"><p class="text-slate-gray">Our Mission</p></a>
        </li>
        <li class="padding-left-xs padding-right-s padding-top-s padding-bottom-s">
          <a href="/pages/frequently-asked-questions" class="site-nav__link site-nav__child-link"><p class="text-slate-gray">FAQ</p></a>
        </li>
        <li class="padding-left-xs padding-right-s padding-top-s padding-bottom-s">
          <a href="/pages/gemstone" class="site-nav__link site-nav__child-link"><p class="text-slate-gray">Materials and Care</p></a>
        </li>
        <li class="padding-left-xs padding-right-s padding-top-s padding-bottom-s">
          <a href="/blogs/blog" class="site-nav__link site-nav__child-link site-nav__link--last"><p class="text-slate-gray">Blog</p></a>
        </li>
      </ul>
    </div>
  </div>
</div>