<div class="site-nav__dropdown" id="SiteNavLabel-moissanite">
  <div class="c-column-flex-container padding-m padding-top-xs">
    <div class="c-column-flex-1 padding-s">
      <div style="max-width: 240px; max-height: 240px;">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/Artboard_3.png?5315930660517915153"/>
      </div>
      <div>
        <a href="/collections/loose-gems" class="site-nav__link site-nav__child-link">View All Moissanite Stones></a>
      </div>
    </div>
    <div class="c-column-flex-1 padding-s">
      <a href="/collections/loose-gems"><h3 class="site-nav__font">Moissanite Shapes</h3></a>
      <div class="c-column-flex-container">
        <div class="c-column-flex-1 c-flex-column">
          <div>
            <a href="/collections/loose-gems/products/the-round-brilliant" class="site-nav__link site-nav__child-link">Round</a>
          </div>
          <div>
            <a href="/collections/loose-gems/products/the-oval" class="site-nav__link site-nav__child-link">Oval</a>
          </div>
          <div>
            <a href="/collections/loose-gems/products/the-pear" class="site-nav__link site-nav__child-link">Pear</a>
          </div>
          <div>
            <a href="/collections/loose-gems/products/the-cushion" class="site-nav__link site-nav__child-link">Cushion</a>
          </div>
          <div>
            <a href="/collections/loose-gems/products/the-princess" class="site-nav__link site-nav__child-link">Princess</a>
          </div>
        </div>
        <div class="c-column-flex-1 c-flex-column">
          <div>
            <a href="/collections/loose-gems/products/the-emerald" class="site-nav__link site-nav__child-link">Emerald</a>
          </div>
          <div>
            <a href="/collections/loose-gems/products/the-marquise" class="site-nav__link site-nav__child-link">Marquise</a>
          </div>
          <div>
            <a href="/collections/loose-gems/products/the-heart" class="site-nav__link site-nav__child-link">Heart</a>
          </div>
          <div>
            <a href="/collections/loose-gems/products/the-square" class="site-nav__link site-nav__child-link">Square</a>
          </div>
          <div>
            <a href="/collections/loose-gems" class="site-nav__link site-nav__child-link">View All</a>
          </div>
        </div>
      </div>
    </div>
    <div class="c-column-flex-1 padding-s">
      <a href="/blogs/blog"><h3 class="site-nav__font">Learn</h3></a>
      <div class="c-column-flex-1 c-flex-column">
        <div>
          <a href="/blogs/blog/the-difference-between-moissanite-and-diamond" class="site-nav__link site-nav__child-link">The Moissanite Difference</a>
        </div>
        <div>
          <a href="/pages/the-4-cs" class="site-nav__link site-nav__child-link">The 4Cs</a>
        </div>
        <div>
          <a href="/pages/resplendent-moissanite" class="site-nav__link site-nav__child-link">Resplendent Moissanite</a>
        </div>
      </div>
    </div>
    <div class="c-column-flex-1 padding-s">
      <a href="/pages/frequently-asked-questions"><h3 class="site-nav__font">Service and Value</h3></a>
      <div class="c-column-flex-1 c-flex-column">
        <div>
          <a href="/pages/warranty" class="site-nav__link site-nav__child-link">Gemstone Warranty</a>
        </div>
        <div>
          <a href="/pages/contact-us" class="site-nav__link site-nav__child-link">Customer Support</a>
        </div>
      </div>
    </div>
  </div>
</div>