<div class="site-nav__dropdown" id="SiteNavLabel-jewelry">
  <div class="c-column-flex-container">
    <div class="c-column-flex-1 align--top-middle">
      <h3>Jewelry Filler</h3>
    </div>
  </div>
</div>