<div class="site-nav__dropdown" id="SiteNavLabel-engagement-rings">
  <div class="c-column-flex-container padding-m padding-top-xs">
    <div class="c-column-flex-1 padding-s">
      <div style="max-width: 240px; max-height: 240px;">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/72DA88BD-8B71-465F-9AC2-D71D5994B3BD.jpeg?v=1596313044"/>
      </div>
      <div>
        <a href="/collections/engagement-rings" class="site-nav__link site-nav__child-link">View All Moissanite Engagement Rings></a>
      </div>
    </div>
    <div class="c-column-flex-1 padding-s">
      <h3 class="site-nav__font">Our Moissanite Rings</h3>
      <div class="c-column-flex-1 c-flex-column">
        <div>
          <a href="/collections/engagement-rings" class="site-nav__link site-nav__child-link">Moissanite Engagement Rings</a>
        </div>
        <div>
          <a href="/collections/wedding-bands" class="site-nav__link site-nav__child-link">Moissanite Wedding Bands</a>
        </div>
      </div>
    </div>
    <div class="c-column-flex-1 padding-s">
      <h3 class="site-nav__font">Learn</h3>
      <div class="c-column-flex-1 c-flex-column">
        <div>
          <a href="/pages/resplendent-moissanite" class="site-nav__link site-nav__child-link">Resplendent Moissanite</a>
        </div>
        <div>
          <a href="/pages/the-4-cs" class="site-nav__link site-nav__child-link">The 4Cs</a>
        </div>
      </div>
    </div>
    <div class="c-column-flex-1 padding-s">
      <h3 class="site-nav__font">Shop By Collection</h3>
      <div class="c-column-flex-1 c-flex-column">
        <div>
          <a href="/collections/solitaire" class="site-nav__link site-nav__child-link">Moissanite Solitaire Rings</a>
        </div>
        <div>
          <a href="/collections/pave" class="site-nav__link site-nav__child-link">Moissanite Pavé Rings</a>
        </div>
        <div>
          <a href="/collections/halo" class="site-nav__link site-nav__child-link">Moissanite Halo Rings</a>
        </div>
      </div>
    </div>
  </div>
</div>