<div class="site-nav__dropdown" id="SiteNavLabel-wedding-bands">
  <div class="c-column-flex-container">
    <div class="c-column-flex-1 align--top-middle">
      <h3>Wedding Bands Filler</h3>
    </div>
  </div>
</div>