<ul class="site-nav list--inline small--hide site-nav__font{{ nav_alignment }}" id="SiteNav">
  <li class="site-nav__parent">
    <a href="#" class="site-nav--has-dropdown site-nav__link site-nav__link--main" data-control-id="SiteNavLabel-moissanite">
      <span>Moissanite</span>
    </a>
  </li>
<!--   <li class="site-nav__parent">
    <a href="#" class="site-nav--has-dropdown site-nav__link site-nav__link--main" data-control-id="SiteNavLabel-engagement-rings">
      <span>Engagement Rings</span>
    </a>
  </li>
  <li class="site-nav__parent">
    <a href="#" class="site-nav--has-dropdown site-nav__link site-nav__link--main" data-control-id="SiteNavLabel-wedding-bands">
      <span>Wedding Bands</span>
    </a>
  </li>
  <li class="site-nav__parent">
    <a href="#" class="site-nav--has-dropdown site-nav__link site-nav__link--main" data-control-id="SiteNavLabel-jewelry">
      <span>Jewelry</span>
    </a>
  </li> -->
  <li>
    <a href="/collections/engagement-rings" class="site-nav__link site-nav__link--main">Engagment Rings</a>
  </li>
  <li>
    <a href="/collections/wedding-bands" class="site-nav__link site-nav__link--main">Wedding Bands</a>
  </li>
  <li class="medium--hide">
    <a href="/pages/frequently-asked-questions" class="site-nav__link site-nav__link--main">FAQ</a>
  </li>
  <li class="site-nav__parent">
    <a href="#" class="site-nav--has-dropdown site-nav__link site-nav__link--main" data-control-id="SiteNavLabel-about">
      <span>About</span>
    </a>
  </li>
</ul>
<div>
  {% include 'nav-moissanite-dropdown' %}
<!--   {% include 'nav-engagement-rings-dropdown' %}
  {% include 'nav-wedding-bands-dropdown' %}
  {% include 'nav-jewelry-dropdown' %} -->
  {% include 'nav-about-dropdown' %}
</div>
