<div class="c-bg-light-gray">
  <div class="page-width padding-top-m padding-bottom-m m-padding-top-m m-padding-bottom-m">
    <div class="c-section-center c-page-width-m">
      <h3 class="c-header-xl padding-top-s text-center">We're here to help</h3>
      <p class="text-center padding-top-m margin-bottom-m m-padding-bottom-xs m-margin-bottom-none">
        <a>support@gemaandco.com</a><br>
        <span class="text-light">Estimated response time: 24 HR</span>
      </p>
      <p class="text-center padding-bottom-s margin-bottom-xs m-padding-bottom-xs m-margin-bottom-none">
        Text us: (650) 206-9682<br>
        <span class="text-light">Hours | Monday-Friday (9am-5pm PST)</span>
      </p>
    </div>
  </div>
</div>