<div class="page-width c-page-width-s padding-top-m padding-bottom-l m-padding-top-s m-padding-bottom-m text-center">
  <div class="c-section-center padding-top-m">
    <p class="c-mini-header padding-bottom-xs m-padding-bottom-none secondary-font">HERE'S THE CRUCIAL BIT</p>
    <p class="padding-top-none m-padding-top-none text-m">
      Moissanite is a rare gemstone that originates from space meteorites and is
      a different kind of clear gemstone with the same look and durability as Diamond.
    </p>
  </div>
</div>


{% schema %}
  {
    "name": "C Custom Landing",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Custom Landing",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

