<div class="pg-bg-primary">
  <div class="page-width padding-top-xl padding-bottom-m m-padding-top-s">
    <div class="c-section-center c-page-width-m padding-top-m">
      <p class="c-mini-header padding-bottom-s">HERE'S THE CRUCIAL BIT</p>
      <h3 class="c-header-l">The Moissanite gemstone</h3>
      <p class="padding-top-m text-m">
        Buying an over-priced engagement ring is now optional. Moissanite is a different type of clear gemstone with the same look and
        quality as Diamond, but without the over-commercialized markup. It's not following traditions, sure, but we believe it's for the better.
        Let's focus on what matters more. Celebrating love. 
      </p>
    </div>
  </div>


  <div class="padding-top-xl m-padding-top-s">
    <div class="c-layered-section__image-right">
      <div class="c-layered-section__copy-box-wrapper c-mobile-width">
        <div class="copy-box c-vertical-align">
          <p class="c-mini-header">BEAUTY</p>
          <h3 class="c-header-l">Same color and clarity</h3>
          <p class="padding-top-m"> 
          Our lab created Moissanites are chemically engineered for icy-white color with zero traces of yellow and minimal inclusions.
          Their color and clarity are equivalent to the highest grade of GIA certified Diamonds. 
          </p>
          <p>Like Diamonds, Moissanites' sparkle and color does not fade, cloud, or tarnish over time.
          <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"><i class="em em-sparkles"></i>
          </p>
          <p>Note: Moissanite is on ring finger.</p>
        </div>
      </div>
      <div class="c-layered-section__image-box-wrapper">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/color-clarity.png?4550948056454969569"/>
      </div>
    </div>
  </div>

  <div class="page-width padding-top-m">
    <div class="padding-top-l m-padding-top-none">
      <div class="c-split-screen c-flex-reverse__small-screen">
        <div class="split-screen__image-container padding-top-30">
          {% include 'moh-chart' %}
        </div>
        <div class="split-screen__text-container c-quality">
          <p class="c-mini-header">QUALITY</p>
          <h3 class="c-header-l">Second hardest gemstone on Earth</h3>
          <p class="padding-top-s"> 
          <p>Moissanites are made of Silicon Carbide&mdash;the same material used in bullet proof vests and tools to cut metal.
          On the Mineral Hardness Scale, Moissanite is more scratch resistent than
          Sapphire, Ruby, and Emerald. <link class="text-m" href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"><i class="em em-gem"></i>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="padding-top-xl m-padding-top-100">
    <div class="c-crosslap-section page-width">
      <div class="top-row">
        <div class="copy-box__wrapper">
          <div class="copy-box">
            <p class="c-mini-header">ETHICAL</p>
            <h3 class="c-header-l">Conflict-free and environmentally friendly</h3>
          </div>
        </div>
        <div class="img-box__wrapper m-padding-top-40">
          <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/crosslap-2_e3d4a4b7-17ff-4d4e-80e2-faddec349f07.png?11696413785953840119" />
        </div>
      </div>
      <div class="bottom-row">
        <div class="img-box__wrapper left">
          <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/crosslap-2_bc00c88f-1f4d-4c95-adcb-5ff0fcb602b7.png?15618421755621785935" />
        </div>
        <div class="copy-box__wrapper">
          <div class="copy-box">
            <p class="c-narrow-paragraph"> 
              Our Moissanites are all lab created so there is no mining or unethical labor practices in the gem's journey into your hands.
              <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"><i class="em em-earth_africa"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-width padding-top-l padding-bottom-m m-padding-top-s">
    <div class="c-section-center c-page-width-m padding-top-m">
      <p class="c-mini-header padding-bottom-s m-padding-bottom-s">READ ALL ABOUT IT</p>
      <h3 class="c-header-l m-padding-bottom-s">In the Journal</h3>
    </div>
    <div class="padding-top-l m-padding-top-none">
      <div class="c-split-screen c-flex-reverse__small-screen">
        <div class="split-screen__image-container padding-top-30">
          <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/blog-hero-1_85db1a77-a6ef-4471-9598-9b687ac6c72a.png?12207294562480568657" />
        </div>
        <div class="split-screen__text-container c-quality">
          <h3 class="c-header-l">Moissanite were kept a secret for decades.</h3>
          <p class="padding-bottom-s">  
          <p>Jewelers knew about Moissanite for many years and intentionally kept this
            gemstone a secret so they can continue selling Diamonds at inflated prices.
          </p>
          <a href="#" class="c-link">LEARN MORE</a>
        </div>
      </div>
    </div>

    <div class="padding-top-xl m-padding-top-s">
      <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half padding-left-none">
        <div class="grid-view-item c-about-grid-right c-section-wrap">
          <h3 class="c-header-l">Comparison of 4 different clear gemstones.</h3>
          <p class="padding-top-m padding-bottom-s"> 
            We've broken down components of appearance, durability, and price for 
            Cubic Zirconia, White Sapphire, Moissanite, and Diamond. 
          </p>
          <a href="#" class="c-link">LEARN MORE</a>
       </div>
      </div>
      <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
        <div class="grid-view-item">
          <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
        </div>
      </div>
    </div>
  </div>

  <div class="page-width padding-top-s m-padding-top-none">
    <div class="c-homepage-subheader">
      <p class="c-mini-header">VALUES</p>
      <h3 class="c-header-l">The right engagement ring for you</h3>
      <p class="padding-top-m padding-bottom-s">
        Rings are as unique as the people who wear them, 
        which is why we offer a range of shapes and sizes for gemstones and settings. 
        Check out why these couples value and chose Moissanite for their engagement rings.
      </p>
    </div>
    <div class="c-layered-section__image-left">
      <div class="c-layered-section__image-box-wrapper">
        <img class="c-tab-image js-tab-image active" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
        <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
        <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
        <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
        <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
      </div>
      <div class="c-layered-section__copy-box-wrapper c-mobile-width-full">
        <div class="copy-box">
          <div class="c-tabs">
            <div class="c-tablink js-tablink active" data-index=0>
              <p>John & Amanda</p>
            </div>
            <div class="c-tablink js-tablink" data-index=1>
              <p>Samantha & Sharon</p>
            </div>
            <div class="c-tablink js-tablink" data-index=2>
              <p>Allen & Jennifer</p>
            </div>
            <div class="c-tablink js-tablink" data-index=3>
              <p>Connor & Alison</p>
            </div>
            <div class="c-tablink js-tablink" data-index=4>
              <p>Andy & Leslie</p>
            </div>
          </div>
          <div class="c-tabs-content">
            <div class="c-tab-content js-tab-content active">
              <p><strong>John and Amanda</strong>
              <br>Brooklyn, New York</p><br>
              <h3>We prioritized buying a home instead.</h3><br>
              <p>We wanted to buy a home for us to settle down and eventually start a family in. 
                We were hesitant to detract from our goal by splurging on an expensive piece of jewelry which didn't have much investment
                in our future and financial stability.</p>
            </div>
            <div class="c-tab-content js-tab-content hidden">
              <p><strong>Samantha and Sharon</strong>
              <br>Seattle, Washinton</p><br>
              <h3>We wanted a conflict free option.</h3><br>
              <p>We knew we didn't want a mined Diamond because of its unethical industry practices.
                It was important for us to find a gem that was beautiful but also conflict free so we considered 
                lab Diamonds and lab Moissanites. We ultimately went with Moissanite because there really 
                wasn't any difference with Diamond and was much more priced fairly.
                </p>
            </div>
              <div class="c-tab-content js-tab-content hidden">
              <p><strong>Allen and Jennifer</strong>
              <br>Dallas, Texas</p><br>
              <h3>We value experiences over material things.</h3><br>
              <p>We love travelling and decided to put our money toward 
                building more memories and experiences instead. To us, an engagement ring is just a small gesture
                to represent our commitment to each other. We didn't feel the need to spend tens of thousands to do that. No one asks us about it, and everyone assumes its Diamond anyway.
              </p>
            </div>
            <div class="c-tab-content js-tab-content hidden">
              <p><strong>Connor and Alison</strong>
              <br>Seattle, Washinton</p><br>
              <h3>Our temporary engagement ring.</h3><br>
              <p>We want a Diamond ring one day but we are pursuing grad school and want to responsibly pay off our student loans
                first. We chose Moissanite because it looked the same. We 
                didn't have to spend as much time saving up for a ring and didn't need to delay our plans to get married. 
              </p>
            </div>
            <div class="c-tab-content js-tab-content hidden">
              <p><strong>Andy and Leslie</strong>
              <br>Miami, Florida</p><br>
              <h3>The smartest upgrade option.</h3><br>
              <p>We didn't know about Moissanite when we got married and spent thousands on our engagement ring.
                We were looking to upgrade years later and discovered Moissanite looked just as great, if not better than what we had. 
                We found the smartest hack for our upgrade!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-width">
    <div class="c-section-center padding-top-xl padding-bottom-xl m-padding-top-none m-padding-bottom-s">
      <h3 class="c-cta-header padding-bottom-s">Three months salary not required</h3> 
      <a href="/collections/engagement-rings" class="btn c-primary-btn">
        SHOP NOW
      </a>
    </div>
  </div>
</div>
  
<script src="{{ 'tabs-manager.js' | asset_url }}"></script>
<script>
  TabsManager.initialize("js-tablink", "js-tab-content", "js-tab-image");
</script>

{% schema %}
  {
    "name": "C Custom Landing",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Custom Landing",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

