<div class="page-width c-page-width-m padding-top-xl padding-bottom-xl m-padding-top-l m-padding-bottom-l text-center">
  <h3 class="c-header-l"><b>ENGAGEMENT REDEFINED</b></h3>
  <p class="padding-top-s m-padding-top-s text-m"> 
    The same but different. We create <i><b>quality</b></i> engagement jewelry without the markup. Basically you don't have to choose between <i><b>high quality</b></i> or <i><b>accessible prices</b></i>. Choose both.
  </p> 
  <a href="/pages/our-story" class="btn c-primary-btn">
    <b>OUR STORY</b>
  </a>
</div>

{% schema %}
  {
    "name": "C Custom Landing",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Custom Landing",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

