<!-- 
<div class="page-width padding-top-l padding-bottom-xl m-padding-top-s">
  <div class="c-section-center c-page-width-s padding-top-m">
    <p class="c-mini-header padding-bottom-s">HERE'S THE CRUCIAL BIT</p>
    <h3 class="c-header-xl">The Moissanite gemstone</h3>
    <p class="padding-top-m text-light">
      Moissanite is a rare gemstone that originates from space meteorites and is 
      a clear gemstone with the same look and durability as Diamond. It's not following traditions, sure, 
      but we think its for the better. It's the new way of doing things. We call it a Practical Engagement.
    </p>
  </div>
</div> -->


<div class="c-hero__m-stacked-text">
  <div class="hero hero-width c-landing-3">
  </div>
  <div class="m-stacked-text__container text-white text-center">
    <div class="m-stacked-text__left">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">The Timeless Engagement</h2>
        <p class="padding-top-s m-padding-top-s margin-none text-white">Shapes and sizes galore—starting at $500, including gold or platinum ring setting.</p> 
        <div class="padding-top-s m-padding-top-s">
          <btn class="btn c-secondary-btn"><b>Shop engagement</b></btn>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-hero__m-stacked-text padding-top-m">
  <div class="split-screen__image-container">
    <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/blog-hero-1_85db1a77-a6ef-4471-9598-9b687ac6c72a.png?1831599432067432610" alt="Moissanite Secret">
  </div>
  <div class="m-stacked-text__container">
    <div class="m-stacked-text__right text-center">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">The secret is out</h2>
        <p class="padding-top-s m-padding-top-s text-light margin-none">Jewelers kept Moissanite away from consumers for decades. Until now.</p> 
        <div class="padding-top-s m-padding-top-s">
          <btn class="btn c-secondary-btn"><b>Learn more</b></btn>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-hero__m-stacked-text padding-top-m">
  <div class="hero hero-width c-landing-5">
  </div>
  <div class="m-stacked-text__container text-white text-center">
    <div class="m-stacked-text__left">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">Home Try-On</h2>
        <p class="padding-top-s m-padding-top-s margin-none text-white">Want to try before you buy?<br>Get a free trial.</p> 
        <div class="padding-top-s m-padding-top-s">
          <btn class="btn c-secondary-btn"><b>Learn More</b></btn>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-hero__m-stacked-text m-padding-top-m">
  <div class="hero hero-width c-landing-4">
  </div>
</div>


<div class="page-width">
  <div class="c-section-center text-center padding-top-xl padding-bottom-xl m-padding-top-s m-padding-bottom-s">
    <h3 class="c-header-xl padding-bottom-s">Three months salary not required</h3> 
    <a href="/collections/engagement-rings" class="btn c-primary-btn">
      <b>Shop Now</b>
    </a>
  </div>
</div>

  
<script src="{{ 'tabs-manager.js' | asset_url }}"></script>
<script>
  TabsManager.initialize("js-tablink", "js-tab-content", "js-tab-image");
</script>

{% schema %}
  {
    "name": "C Custom Landing",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Custom Landing",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

