<div class="page-width c-page-width-s padding-top-m padding-bottom-l m-padding-top-s m-padding-bottom-m text-center">
  <div class="c-section-center padding-top-m">
    <h3 class="c-header-l padding-bottom-s m-padding-bottom-xs c-custom-header">Our Story</h3>
    <p class="padding-top-none m-padding-top-none">
      Our goal is simple. We want to make celebrating love and marriage less commercialized 
      and more accessible. That's why we're trending away from over-marketed Diamonds and 
      introducing conflict-free and environmentally friendly Moissanite gemstones. 
    </p>
    <p>It's a different way of doing things, sure, but we think its for the better.
      It's a new outlook on old traditions. A new generation of engagement rings.
    </p>
    <a href="/pages/our-story" class="clear-cta-btn c-label"><u>Read More</u></a>
  </div>
</div>


{% schema %}
  {
    "name": "C Custom Landing",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Custom Landing",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

