
<div class="page-width padding-top-l padding-bottom-xl m-padding-top-s">
  <div class="c-section-center c-page-width-s padding-top-m">
    <p class="c-mini-header padding-bottom-s">HERE'S THE CRUCIAL BIT</p>
    <h3 class="c-header-xl">The Moissanite gemstone</h3>
    <p class="padding-top-m text-light">
      Moissanite is a rare gemstone that originates from space meteorites and is 
      a clear gemstone with the same look and durability as Diamond. It's not following traditions, sure, 
      but we think its for the better. It's the new way of doing things. We call it a Practical Engagement.
    </p>
  </div>
</div>


<div class="c-hero__m-stacked-text">
  <div class="hero hero-width c-landing-2">
  </div>
  <div class="m-stacked-text__container">
    <div class="m-stacked-text__left">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">The Moissanite gemstone</h2>
        <p class="padding-top-s m-padding-top-s text-light margin-none">A space meteorite turned<br>engagement ring. No mining.<br>No unethical practices.</p> 
        <div class="padding-top-s m-padding-top-s">
          <btn class="btn c-secondary-btn"><b>Shop now</b></btn>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="page-width">
  <div class="c-section-center padding-top-xl padding-bottom-xl m-padding-top-none m-padding-bottom-s">
    <h3 class="c-header-xl padding-bottom-s">Three months salary not required</h3> 
    <a href="/collections/engagement-rings" class="btn c-primary-btn">
      <b>Shop Now</b>
    </a>
  </div>
</div>

  
<script src="{{ 'tabs-manager.js' | asset_url }}"></script>
<script>
  TabsManager.initialize("js-tablink", "js-tab-content", "js-tab-image");
</script>

{% schema %}
  {
    "name": "C Custom Landing",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Custom Landing",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

