<div class="page-width c-page-width-s padding-top-m padding-bottom-l m-padding-top-s m-padding-bottom-m">
  <div class="c-section-center padding-top-m">
    <h3 class="c-header-l padding-bottom-s m-padding-bottom-xs c-custom-header text-center">Moissanite Jewellery: For a Lifetime and Beyond</h3>
    <div class="custom-about-content">
      <div>
        <div>
          <a href="#" class="js-dropdown-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="c-a-header">Jewelry is a personal choice that should...</h4>
          </a>
          <div class="js-dropdown-content about-content hidden">
            <p>
              tell a story about the person wearing it. Choosing Moissanite jewelry is the perfect way to express your individuality. Moissanite speaks of a compassionate wearer who also appreciates an ethical and responsible production process — of someone pragmatic yet progressive, who is looking to customize tradition to agree with both their pocket and contemporary style.
            </p>
            <p>  
              A newly discovered product that rivals any natural gemstone in fire and brilliance, it’s a wonder among Moissanite jewelers that this meteoritic stone has been kept secret for so long. If you’re looking to learn more about this mineral, or maybe trying to choose the best Moissanite jewelry for a proposal, here are some things you should know. 
            </p>
            <h3>
              What is Moissanite?
            </h3>
            <p>
              Naturally occurring silicon carbide is an extraterrestrial mineral that was brought to earth by a meteor 50,000 years ago. It was named Moissanite after Dr. Henri Moissan, the chemist who first discovered it in 1893, at the site of the meteorite strike in Arizona, USA. 
              Dr. Moissan would spend the rest of his life attempting to recreate this rare mineral in his laboratory, but it wasn’t until the late 80s that scientists would develop a thermal growing process to reproduce the mineral.
            </p>
            <p>
              Moissanite is one of the hardest known elements on earth, which makes it extremely resistant to scratching, chipping, and breaking. Its fire and brilliance give it an incomparable beauty which, coupled with durability, makes an ideal center stone for an engagement ring or heirloom gift. It’s a fantastic diamond alternative (see our <a href="https://gemaandco.com/blogs/blog/the-difference-between-moissanite-and-diamond" class="homepage-drawer-link">Moissanite vs Diamond</a> blog for more information), conflict-free, and an environmentally responsible choice. Moissanite jewelry stores, like Gema & Co, sell lab-grown gemstones that are hand-cut by professional jewelers, eliminating the controversial mining process that is used for diamond jewelry. 
            </p>
            <h3>
              Shine Brighter Than a Diamond
            </h3>
            <p>
              Moissanite stones may be less expensive than diamonds, but they’re hardly a step down when it comes to comparison of quality.
            </p>
            <p>
              Moissanite is not called the world’s most brilliant gemstone for nothing. It has the most brilliance and fire of all popular gemstones. On the Brilliance Refractive Index (RI), Moissanite ranges from 2.65 to 2.69, higher than diamond’s 2.42 RI.
            </p>
            <p>
              When it comes to fire, Moissanite measures at a dispersion of 0.104 which is 2.4 times the fire of a diamond and four times greater than other popular gemstones including ruby, sapphire, and emerald. Dispersion refers to the prism effect that occurs when light enters a non-opaque object.
            </p>
			<p>
              Moissanites range from colors equivalent to D-I range, which are the two highest tiers on the color scale. If you’re looking for jewelry with a brilliant sparkle, we believe the best place to buy Moissanite is from Gema&Co. 
            </p>
            <h3>
              The Beauty and Durability of Moissanite
            </h3>
            <p>
              If diamonds are forever, Moissanite is the best way to say “forever and a day” for all it offers on top of durability. A <a href="https://gemaandco.com/collections/loose-gems" class="homepage-drawer-link">Moissanite stone</a> is so durable that—just like diamond saws—the ceramic version of synthetic Moissanite is commonly used to cut and slice other materials. It is more scratch-resistant than most gemstones and has an incredible melting point of 2730 °C. There’s no doubt as to whether it can withstand everyday wear.
            </p>
            <p>
              The fact that it’s an almost indestructible gem is what gives <a href="https://gemaandco.com/collections/engagement-rings" class="homepage-drawer-link">Moissanite rings</a> popularity as wedding and engagement ring choices. The stone symbolizes a long-lasting and beautiful love. It’s also a more thoughtful token for those who wish to spend on something that brings them ethical value. Our online Moissanite jewelry shop is perfect if you need a gift for a socially-conscious friend. 
            </p>
            <h3>
              The True Value of Moissanite
            </h3>
            <p>
              Often, people who are not able to afford a diamond think they are “settling” for a less expensive gem, but going for Moissanite is never a downgrade. As with all things in life, the most precious gifts are not necessarily the most expensive, the most perfect, or the most popular. Instead, what is of most value is what has the most meaning and purpose to an individual. Moissanite draws its value not from its price point, but from its wearer and from the story behind it. This special sentimental and emotional value is what the sparkle of the special stone seeks to epitomize.
            </p>
            <p>
              Celebrating love should be a personal affair, not one that is commercialized and overpriced. This is why we strive to do things differently at Gema & Co. If you’re wondering where to buy Moissanite jewelry of the highest quality, you can be 100% confident in our products. Discover why we consider ourselves to be the best Moissanite company in the world. <a href="https://gemaandco.com/pages/contact-us" class="homepage-drawer-link">Contact us</a> today to learn more or shop our collection of <a href="https://gemaandco.com/collections/wedding-bands" class="homepage-drawer-link">Moissanite wedding bands</a> now. We look forward to providing you with an unforgettable piece of Moissanite jewelry that you will cherish for years to come.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  GemaDropdowns.initialize('js-dropdown-content-link');
</script>


{% schema %}
  {
    "name": "C Custom Landing",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Custom Landing",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

