<div class="hero hero-width c-hero-width c-landing-2">
  <div class="hero__inner padding-top-none text-center">
    <h2 class="c-header-xxl text-white padding-bottom-xs"><b>Meet Moissanite</b></h2>
    <a href="/collections/engagement-rings" class="text-white cta-link"><b>Shop Now</b></a>
  </div>
</div>

{% schema %}
  {
    "name": "C Hero Main Homepage",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Hero Main Homepage",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}
