<div class="hero hero-width c-hero-width c-landing-2">
  <div class="hero__inner padding-top-none text-center">
    <h2 class="c-header-xxl text-white padding-bottom-xs"><b>Meet Moissanite</b></h2>
    <a href="/collections/engagement-rings" class="text-white cta-link"><b>Shop Now</b></a>
  </div>
</div>

<!-- <div class="c-hero__m-stacked-text">
  <div class="hero hero-width c-landing-2">
  </div>
  <div class="m-stacked-text__container">
    <div class="m-stacked-text__right text-center m-hidden">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">The Moissanite gemstone</h2>
        <p class="padding-top-s m-padding-top-s margin-none">A space meteorite transformed into fine gems. Conflict-free. Fairly priced.</p> 
        <div class="padding-top-s m-padding-top-s">
          <a href="/pages/moissanites"><btn class="btn c-secondary-btn"><b>Learn more</b></btn></a>
        </div>
      </div>
    </div>
  </div>
</div> -->

{% schema %}
  {
    "name": "C Hero Main Homepage",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Hero Main Homepage",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}
