<div class="c-hero__m-stacked-text">
  <div class="hero hero-width c-landing-2">
  </div>
  <div class="m-stacked-text__container">
    <div class="m-stacked-text__right text-center">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">The Moissanite gemstone</h2>
        <p class="padding-top-s m-padding-top-s text-light margin-none">A space meteorite transformed into fine gems. Conflict-free. Fairly priced.</p> 
        <div class="padding-top-s m-padding-top-s">
          <a href="/pages/moissanites"><btn class="btn c-secondary-btn"><b>Learn more</b></btn></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "C Hero Main Homepage",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Hero Main Homepage",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}
