{% include 'support-header' %}


<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-m m-padding-top-none padding-bottom-m">
  <div class="c-column-flex-2 padding-top-s">
    {% include 'support-sidebar', curr_page: 'Returns' %}
  </div>
  <div class="c-column-flex-7">
    <div>
      <h3 class="c-header-l padding-top-s secondary-font">Returns</h3>
      <p class="padding-top-xs m-padding-top-none">
	  <p>All purchases are eligible for return within 31 days. 
        Engagement rings are subject to a $100 restocking fee, wedding bands are subject to a $50 restocking fee, 
        and loose gemstones are subject to a $20 restocking fee. Refunds will be processed upon receipt and verification of return.
      </p>
      <p><i>*Items that have been resized, engraved, or modified are not eligible for return.</i>
      </p>
      <p>To start the returns process, and receive a free returns shipping label, please reach out to <u>support@gemaandco.com.</u>
      <br>
      <i>*Average Response Time: 1 Business Day</i>
      </p>
      <h3 class="c-header-l padding-top-s secondary-font">Refunds</h3>
      <p class="padding-top-xs m-padding-top-s">
        Approved refund(s) will be for the total sales price less restocking fee. The restocking fee 
        will be deducted from all returns. Merchandise returned without the provided warranty card is subject to a $25 lost warranty card fee. 
      </p>
      <p>
        Once your items are received and inspected by our team, an email will be sent to notify you that 
        we have received and approved your returned item. Your refund will be processed, and a credit 
        will automatically be applied to your credit card or original method of payment. Please allow 
        approximately 7-10 business days for the refund process to be completed. This wait time 
        will start on the first business day after your return has been received.
      </p>
    </div>
  </div>
</div>

