<div class="c-bg-light-gray">
  <div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m">
    <div class="c-section-center c-page-width-m">
      <h3 class="c-header-xl padding-bottom-s text-center">The 4Cs of Moissanite</h3>
      <p class="text-m text-center">Learn how GIA grades are established, and how 
        those grades affect a gemstone's appearance and price. Moissanite on the market today are
        all lab created which yields top tier qualities in each of the Cs. Lab grown Moissanites that
        did not meet these tier standards have not been released for retail sale.
      </p>
    </div>
  </div>
</div>
<div class="page-width padding-top-l padding-bottom-l m-padding-top-s m-padding-bottom-s">
  <div class="c-column-flex-container c-mobile-flex-column">
    <div class="c-column-flex-1">
      <div class="padding-right-m m-padding-right-none">
        <h2 class="c-header-xl padding-bottom-s">Color</h2>
        <p class="m-padding-top-s">Color refers to the natural body 
          color of a gemstone and not to the reflection of spectral colors that 
          flash when it moves. The less color a diamond exhibits, the higher the rarity, and therefore the 
          higher the value. 
        </p>
        <p class="m-padding-bottom-s">The standard GIA diamond color grading scale was never designed to rate moissanite. 
          Unlike diamonds, which range from colorless to brownish to fancy yellow, moissanite 
          can carry undertones across the board from green to yellow to gray. It’s a beautiful, 
          brilliant and highly dispersive jewel that stands on its own, creating a unique jewelry 
          category unto itself. Only near-colorless moissanite, graded as "VG–Very Good," is 
          available for sale.
        </p>
      </div>
    </div>
    <div class="c-column-flex-1">
      <div class="padding-left-m m-padding-left-none">
        <div class="four-cs-content">
          <div class="four-c-content js-tab-content-color active">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/d-f_color.jpg?17791740640766935097">
          </div>
          <div class="four-c-content js-tab-content-color hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/d-f_color.jpg?16132644565189766013">
          </div>
          <div class="four-c-content js-tab-content-color hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/d-f_color.jpg?16132644565189766013">
          </div>
          <div class="four-c-content js-tab-content-color hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/g_color.jpg?16132644565189766013">
          </div>
          <div class="four-c-content js-tab-content-color hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/h_color.jpg?17791740640766935097">
          </div>
          <div class="four-c-content js-tab-content-color hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/i_color.jpg?16132644565189766013">
          </div>
        </div>
        <div class="four-cs-select">
          <ul>
            <li>
              <div class="four-c-select js-tablink-color active" data-index=0>
              </div>
              <label>D</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-color" data-index=1>
              </div>
              <label>E</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-color" data-index=2>
              </div>
              <label>F</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-color" data-index=3>
              </div>
              <label>G</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-color" data-index=4>
              </div>
              <label>H</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-color" data-index=5>
              </div>
              <label>I</label>
            </li>
          </ul>
          <div class="strike-bar"></div>
        </div>
        <div class="four-cs-chart">
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>D</strong>
            </div>
            <div class="c-column-flex-4">
              Absolutely colorless or icy white
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>E</strong>
            </div>
            <div class="c-column-flex-4">
              Colorless with miniscule traces of color under 10x magnification
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>F</strong>
            </div>
            <div class="c-column-flex-4">
              Colorless with slight traces of color under 10x magnification
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>G</strong>
            </div>
            <div class="c-column-flex-4">
              Near-colorless with some traces of color noticeable
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>H</strong>
            </div>
            <div class="c-column-flex-4">
              Near-colorless with slight color noticeable
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>I</strong>
            </div>
            <div class="c-column-flex-4">
              Near-colorless with visibly detected color
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="padding-top-xl m-padding-top-m">
    <div class="c-column-flex-container c-mobile-flex-column">
      <div class="c-column-flex-1">
        <div class="padding-right-m m-padding-right-none">
          <h2 class="c-header-xl padding-bottom-s">Clarity</h2>
          <p class="m-padding-top-s">Clarity refers to how clean or clear
            a gemstone is with respect to natural microscopic characteristics that were 
            trapped within while the gemstone was forming. Internal characteristics 
            are known as inclusions, and characteristics on the surface of the gem are 
            known as blemishes.
          </p>
          <p class="m-padding-bottom-s">Since Charles & Colvard® moissanite is essentially lab-created using natural 
            elements, Charles & Colvard (the sole manufacturer of moissanite) is able to control 
            the entire process and ensure the highest quality gemstone with the greatest care 
            in regards to “Clarity.”
          </p>
        </div>
      </div>
      <div class="c-column-flex-1">
        <div class="padding-left-m m-padding-left-none">
          <div class="four-cs-content">
            <div class="four-c-content js-tab-content-clarity active">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/FL-IF.png?15194827371846435228">
            </div>
            <div class="four-c-content js-tab-content-clarity hidden">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VVS1-VVS2.jpg?631151962736553495">
            </div>
            <div class="four-c-content js-tab-content-clarity hidden">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VS1-VS2.jpg?2622491702304126006">
            </div>
            <div class="four-c-content js-tab-content-clarity hidden">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/SI1-SI2.jpg?631151962736553495">
            </div>
          </div>
          <div class="four-cs-select">
            <ul>
              <li>
                <div class="four-c-select js-tablink-clarity active" data-index=0>
                </div>
                <label>FL-IF</label>
              </li>
              <li>
                <div class="four-c-select js-tablink-clarity" data-index=1>
                </div>
                <label>VVS1-VVS2</label>
              </li>
              <li>
                <div class="four-c-select js-tablink-clarity" data-index=2>
                </div>
                <label>VS1-VS2</label>
              </li>
              <li>
                <div class="four-c-select js-tablink-clarity" data-index=3>
                </div>
                <label>SI1-SI2</label>
              </li>
            </ul>
            <div class="strike-bar"></div>
          </div>
          <div class="four-cs-chart">
            <div class="c-column-flex-container">
              <div class="c-column-flex-1">
                <strong>FL-IF</strong>
              </div>
              <div class="c-column-flex-4">
                Flawless to internally flawless
              </div>
            </div>
            <div class="c-column-flex-container">
              <div class="c-column-flex-1">
                <strong>VVS1-VVS2</strong>
              </div>
              <div class="c-column-flex-4">
                Very very slight inclusions
              </div>
            </div>
            <div class="c-column-flex-container">
              <div class="c-column-flex-1">
                <strong>VS1-VS2</strong>
              </div>
              <div class="c-column-flex-4">
                Very slight inclusions
              </div>
            </div>
            <div class="c-column-flex-container">
              <div class="c-column-flex-1">
                <strong>SI1-SI2</strong>
              </div>
              <div class="c-column-flex-4">
                Slightly included
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="c-column-flex-container c-mobile-flex-column padding-top-xl m-padding-top-m">
    <div class="c-column-flex-1">
      <div class="padding-right-m m-padding-right-none">
        <h2 class="c-header-xl padding-bottom-s">Cut</h2>
        <p class="m-padding-top-s">Cut refers not 
          to the shape, but to the balance of proportion, symmetry and polish achieved 
          by the gemstone cutter. The extent of how well a gemstone is cut is directly 
          related to its overall beauty. When correctly cut, the gemstone's ability to reflect and refract light is greatly enhanced. 
        </p>
        <p class="m-padding-bottom-s">Every Charles & Colvard Created Moissanite® jewel is precisely calibrated and hand-cut 
          by a master technician to create maximum brilliance and spark the ultimate fire. While 
          standard round brilliant continues to be the most popular cut for moissanite, 
          fancy cuts are also available in limited quantities.
        </p>
      </div>
    </div>
    <div class="c-column-flex-1">
      <div class="padding-left-m m-padding-left-none">
        <div class="four-cs-content">
          <div class="four-c-content js-tab-content-cut hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/Ideal_923e4615-b35e-4f9d-995a-304a47d01a20.png?1826726763178891845">
          </div>
          <div class="four-c-content js-tab-content-cut hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/v_good.jpg?14837505122209618426">
          </div>
          <div class="four-c-content js-tab-content-cut active">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/good.jpg?14837505122209618426">
          </div>
          <div class="four-c-content js-tab-content-cut hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/fair.jpg?14837505122209618426">
          </div>
        </div>
        <div class="four-cs-select">
          <ul>
            <li>
              <div class="four-c-select js-tablink-cut active" data-index=0>
              </div>
              <label>Ideal</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-cut" data-index=1>
              </div>
              <label>Very Good</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-cut" data-index=2>
              </div>
              <label>Good</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-cut" data-index=3>
              </div>
              <label>Fair</label>
            </li>
          </ul>
          <div class="strike-bar"></div>
        </div>
        <div class="four-cs-chart">
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>Ideal</strong>
            </div>
            <div class="c-column-flex-4">
              Exquisite quality cut that reflects nearly all light that enters the gemstone.
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>Very Good</strong>
            </div>
            <div class="c-column-flex-4">
              Quality cut that reflects slightly less light as the ideal cut.
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>Good</strong>
            </div>
            <div class="c-column-flex-4">
              Average cut that reflects decent amount of light.
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>Fair</strong>
            </div>
            <div class="c-column-flex-4">
              Below average cut that reflects some light.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-column-flex-container c-mobile-flex-column padding-top-xl m-padding-top-m">
    <div class="c-column-flex-1">
      <div class="padding-right-m m-padding-right-none">
        <h2 class="c-header-xl padding-bottom-s">Carat</h2>
        <p class="m-padding-top-s">Cut refers not 
          to the shape, but to the balance of proportion, symmetry and polish achieved 
          by the gemstone cutter. The extent of how well a gemstone is cut is directly 
          related to its overall beauty. When correctly cut, the gemstone's ability to reflect and refract light is greatly enhanced. 
        </p>
        <p class="m-padding-bottom-s">Every Charles & Colvard Created Moissanite® jewel is precisely calibrated and hand-cut 
          by a master technician to create maximum brilliance and spark the ultimate fire. While 
          standard round brilliant continues to be the most popular cut for moissanite, 
          fancy cuts are also available in limited quantities.
        </p>
      </div>
    </div>
    <div class="c-column-flex-1">
      <div class="padding-left-m m-padding-left-none">
        <div class="four-cs-content">
          <div class="four-c-content js-tab-content-cut hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/Ideal_923e4615-b35e-4f9d-995a-304a47d01a20.png?1826726763178891845">
          </div>
          <div class="four-c-content js-tab-content-cut hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/v_good.jpg?14837505122209618426">
          </div>
          <div class="four-c-content js-tab-content-cut active">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/good.jpg?14837505122209618426">
          </div>
          <div class="four-c-content js-tab-content-cut hidden">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/fair.jpg?14837505122209618426">
          </div>
        </div>
        <div class="four-cs-select">
          <ul>
            <li>
              <div class="four-c-select js-tablink-cut active" data-index=0>
              </div>
              <label>1.00ct</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-cut" data-index=1>
              </div>
              <label>1.20ct</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-cut" data-index=2>
              </div>
              <label>1.50ct</label>
            </li>
            <li>
              <div class="four-c-select js-tablink-cut" data-index=3>
              </div>
              <label>1.90ct</label>
            </li>
          </ul>
          <div class="strike-bar"></div>
        </div>
        <div class="four-cs-chart">
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>Ideal</strong>
            </div>
            <div class="c-column-flex-4">
              Exquisite quality cut that reflects nearly all light that enters the gemstone.
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>Very Good</strong>
            </div>
            <div class="c-column-flex-4">
              Quality cut that reflects slightly less light as the ideal cut.
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>Good</strong>
            </div>
            <div class="c-column-flex-4">
              Average cut that reflects decent amount of light.
            </div>
          </div>
          <div class="c-column-flex-container">
            <div class="c-column-flex-1">
              <strong>Fair</strong>
            </div>
            <div class="c-column-flex-4">
              Below average cut that reflects some light.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'tabs-manager-v2.js' | asset_url }}"></script>
<script>
  var colorTabs = new TabsManagerV2("js-tablink-color", "js-tab-content-color");
  var clarityTabs = new TabsManagerV2("js-tablink-clarity", "js-tab-content-clarity");
  var cutTabs = new TabsManagerV2("js-tablink-cut", "js-tab-content-cut");
</script>




