<div class="hero hero-width c-hero-width c-our-story-hero">
  <div class="hero__inner padding-top-none">
    <h2 class="c-header-xxl margin-bottom-xs text-center text-white">We are jewelers,
    designers, practical-thinkers</h2>
  </div>
</div>

<div class="page-width padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-m text-center">
  <div class="c-section-center c-page-width-m">
    <h3 class="c-header-l padding-bottom-m m-padding-bottom-s">Our story</h3>
    <p>Our goal is simple. We want to  make celebrating love and marriage less commercialized and more accessible.
      That's why we're trending away from over-marketed Diamonds and introducing conflict-free, environmentally friendly,
      and fairly priced Moissanite. It's a different way of doing things, sure, but we think its for the better.</p>
      
     <p>It's a
      new outlook on old traditions; a new generation of engagement rings.</p>
<!--     <p class="text-m">We'd love to chat with you. Email us at - <a href="mailto:support@gemaandco.com">support@gemaandco.com</a>.</p> -->
  </div>
</div>

<div class="hero hero-width c-hero-width c-our-story-2">
  <div class="hero__inner">
  </div>
</div>
<div class="pg-bg-primary">
  <div class="page-width padding-top-xl padding-bottom-l m-padding-top-m m-padding-bottom-m text-center">
    <div class="c-section-center c-page-width-m">
      <h3 class="c-header-l padding-bottom-m m-padding-bottom-s">Thoughtful craftsmanship</h3>
      <p>We're dedicated to producing quality jewelry that are (dare we say) disruptive and jewelry as practical as the people who wear them. All designs are meticulously crafted from the highest quality materials. 
        We source pure precious metals, ethical gemstones — and obsess over every detail.</p>
      <p>
        From our conflict-free gemstones to our thoughtfully designed settings, all of our products are consciously made 
        with our environment in mind. We put the same amount of time and energy to ensure fair pricing.
        Although the fine metals we use fluctuate in market price, our retail prices do not.
      </p>
    </div>
  </div>

  <div class="c-bg-light-gray padding-top-l padding-bottom-m m-padding-top-l m-padding-bottom-s">
    <div class="text-center padding-bottom-m">
      <h3 class="c-header-xl padding-bottom-xs m-padding-bottom-s">This is just the beginning</h3>
      <a href="/pages/careers" class="btn c-secondary-btn c-label">
        Join our team
      </a>
    </div>
  </div>
</div>
