<div class="shopify-section index-section index-section--flush">
  <div class="hero hero-large hero__overlay box ratio-container c-compare-hero">
    <div class="hero__inner">
      <h3 class="c-section-header-xlg">Design a custom<br>engagement ring.</h3>
    </div>
  </div>
</div>

<div class="page-width padding-top-l padding-bottom-l">
  <div class="c-section-center c-page-width-narrow">
    <h3 class="c-section-header-lg">The Process</h3>
    <p class="padding-top-s">
      Design a one-of-a-kind custom engagement ring. Share with us your design vision and we'll help guide
      you through the process as we bring your vision to life. Allow 4-6 weeks for completion and delivery.
    </p>
  </div>
</div>

<div class="page-width padding-bottom-m">
  <div class="grid grid--uniform grid--view-items">
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-right">
        <h3 class="c-section-header-lg">1. Share your vision.</h3>
        <p class="padding-top-s">Share your inspiration with our consultant and let us know which
        metal, shape, and size gem you wish to use. Based on your ideas and requirement, 
        your consultant will share an approximate quotation for your design. A 25% deposit of price quotation is required
        to begin the design process.</p>
        <a href="/pages/moissanites" class="btn c-primary-btn">
      GET STARTED
      </a>
      </div>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item">
        <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      </div>
    </div>
  </div>
  <div class="grid grid--uniform grid--view-items c-our-story-grid padding-top-l">
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-right">
        <h3 class="c-section-header-lg">2. Approve designs.</h3>
        <p class="padding-top-s">Based on your requirements and design vision, your consultant will share 
          initial sketches and create a 3D CAD image of your ring. This will be your opportunity to ask questions and provide your feedback.
          Designs can be edited up to three times at no additional cost.
        </p>
      </div>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item">
        <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      </div>
    </div>
  </div>
  <div class="grid grid--uniform grid--view-items c-our-story-grid padding-top-l">
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-right">
        <h3 class="c-section-header-lg">3. Try on mold (optional).</h3>
        <p class="padding-top-s">You have the option to produce a 3D wax model at no additional cost
          to see and touch your design. Please note, shipping and processing times for wax molds may 
          delay total production time.</p>
      </div>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item">
        <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      </div>
    </div>
  </div>
  <div class="grid grid--uniform grid--view-items c-our-story-grid padding-top-l">
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-right">
        <h3 class="c-section-header-lg">4. Production.</h3>
        <p class="padding-top-s">
          Custom rings go through the same production process as our ready-made designs, each handmade 
          and thoroughly inspected before shipping.
        </p>
      </div>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item">
        <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      </div>
    </div>
  </div>
</div>
