{% include 'support-header' %}


<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-m m-padding-top-none padding-bottom-m">
  <div class="c-column-flex-2 padding-top-s">
    {% include 'support-sidebar', curr_page: 'Shipping' %}
  </div>
  <div class="c-column-flex-7">
    <div>
      <div class="c-section-left">
        <h1 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Shipping</h1>
        <p class="m-padding-top-none">
          All jewelry pieces are handmade to order and produced entirely from scratch.
          Please allow 2-3 weeks for production and delivery.</p>
        <p>
          Gema&Co orders are shipped with the reliability and accountability of FedEx or USPS shipping.
          Your order will be shipped to you fully insured. We urge all customers to 
          inspect your package for damage or tampering before receiving or signing for receipt.
        </p>
        <p>For orders shipping to the U.S., you'll find an estimated arrival date listed in 
          the product details for each item. This arrival date is calculated based on the 
          approximate number of days required to process, package, and deliver your order.
        </p>
        <ul>
          <li class="c-li-style-disc">If you place your order before the cutoff time on a regular business day 
            (Monday through Friday), your order will begin processing that day.</li>
          <li class="c-li-style-disc">If you place an order on a holiday, Saturday or Sunday, or after the cutoff 
            on a regular business day, your order will begin processing the following business day.</li>
        </ul>
        <br>
        <h1 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Handling</h1>
        <ul>
          <li class="c-li-style-disc">All items are shipped via FedEx or USPS.</li>
		  <li class="c-li-style-disc">FedEx shipments to APO/FPO locations are passed to USPS for delivery.</li>
		  <li class="c-li-style-disc">Charges for shipping and handling will be shown on the order page during checkout.</li>
		  <li class="c-li-style-disc">We require a signature upon delivery of all shipments.</li>
		  <li class="c-li-style-disc">We do not ship to hotels or Post Office boxes.</li>
		  <li class="c-li-style-disc">The risk of loss and title to the items pass to you upon our delivery to the carrier, pursuant to our shipping contract with our carriers.</li>
		  <li class="c-li-style-disc">Gema&Co is not responsible for shipping delays caused by inclement weather, email or computer malfunctions or any other causes beyond our control.</li>
        </ul>
        <br>
        <h3 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Shipping to an alternate address</h3>
        <p class="m-padding-top-none">
          If you will not be home to sign for your order, Gema&Co can ship your order to your 
          place of work, or another more convenient destination. As a security precaution to 
          protect our customers against fraud, when you order merchandise priced $1000 or more 
          to be delivered to a destination other than your billing address, we will confirm 
          that your credit card or financing company has this alternate shipping address on 
          file. To help expedite your order, simply call your issuing bank and provide them 
          with your alternate shipping address.
        </p>
        <h3 class="c-header-l padding-top-s padding-bottom-s c-accent-color">International shipping</h3>
        <p class="m-padding-top-none">Shipping is available for the United States and Canada at this time. International shipping coming soon.</p>
      </div>
    </div>
  </div>
</div>
