<div class="shopify-section index-section index-section--flush">
  <div class="hero hero-large hero__overlay box ratio-container c-compare-hero">
    <div class="hero__inner">
      <h3 class="c-section-header-xlg">Meet Diamond's<br>Doppelgänger.</h3>
    </div>
  </div>
</div>

<div class="c-section-padding-top">
  <div class="c-layered-section__image-right">
    <div class="c-layered-section__copy-box-wrapper c-mobile-width">
      <div class="copy-box">
        <div class="copy-box__subheading">
          <span class="c-blue-bar"></span>
          <p class="c-mini-header">BEAUTY</p>
        </div>
          <h3 class="c-section-header-lg">Same color and clarity.</h3>
          <p class="padding-top-sm"> 
          Our lab created Moissanites are chemically engineered for icy-white color with zero traces of yellow and minimal inclusions.
          Their color and clarity are equivalent to the highest grade or D-E-F color range
          of GIA certified Diamonds. 
        </p>
        <p>Like Diamonds, Moissanites' sparkle and color do not fade, cloud, or tarnish over time.
        </p>
      </div>
    </div>
    <div class="c-layered-section__image-box-wrapper">
      <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
    </div>
  </div>
</div>

<div class="c-section-padding-top">
  <div class="c-split-screen c-flex-reverse__small-screen">
    <div class="split-screen__image-container padding-top-30">
      <div class="moh">
        <ul class="lines">
          <li class="line l--0">
            <span class="line__label">
              Softest
            </span>
          </li>
<!--           <li class="line l--25">
            <span class="line__label">
            </span>
          </li>
          <li class="line l--50">
            <span class="line__label">
            </span>
          </li>
          <li class="line l--75">
            <span class="line__label">
            </span>
          </li> -->
          <li class="line l--100">
            <span class="line__label">
              Hardest
            </span>
          </li>
        </ul>

        <div class="charts">
          <div class="chart chart--dev">
            <span class="chart__title">MOHs Hardness Scale</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 100%;">
                <span class="chart__label">
                  Diamond
                </span>
                <span class="chart__value">
                  10
                </span>
              </li>
              <li class="chart__bar" style="width: 95%;">
                <span class="chart__label">
                  Moissanite
                </span>
                <span class="chart__value">
                  9.5
                </span>
              </li>
              <li class="chart__bar" style="width: 90%;">
                <span class="chart__label">
                  Sapphire
                </span>
                <span class="chart__value">
                  9
                </span>
              </li>
              <li class="chart__bar" style="width: 90%;">
                <span class="chart__label">
                  Ruby
                </span>
                <span class="chart__value">
                  9
                </span>
              </li>
              <li class="chart__bar" style="width: 75%;">
                <span class="chart__label">
                  Emerald
                </span>
                <span class="chart__value">
                  7.5
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="split-screen__text-container">
      <span class="c-blue-bar"></span>
      <p class="c-mini-header">QUALITY</p>
      <h3 class="c-section-header-lg">Equivalent durability and toughness.</h3>
      <p class="padding-top-sm"> 
      <p>Moissanites are made of Silicon Carbide--the same material used in bullet proof vests and tools to cut metal.
      After Diamond, Moissanite is the second hardest gemstone known to man and is more scratch resistent than
      Sapphire, Ruby, and Emerald.
      </p>
    </div>
  </div>

<div class="c-section-padding-top">
  <div class="c-crosslap-section page-width">
    <div class="top-row">
      <div class="copy-box__wrapper">
        <div class="copy-box">
          <span class="c-blue-bar"></span>
          <p class="c-mini-header">ETHICAL</p>
          <h3 class="c-section-header-lg">Conflict-free and environmentally friendly.</h3>
        </div>
      </div>
      <div class="img-box__wrapper">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/background1.png?v=1505162228" />
      </div>
    </div>
    <div class="bottom-row">
      <div class="img-box__wrapper left">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/background1.png?v=1505162228" />
      </div>
      <div class="copy-box__wrapper">
        <div class="copy-box">
          <span class="c-blue-bar"></span>
      <p class="c-narrow-paragraph"> 
            Our Moissanites are all lab created so there is no mining or unethical labor practices in the gem's journey into our couples' hands.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="page-width c-section-padding-top">
  <div class="c-homepage-subheader">
    <span class="c-blue-bar"></span>
    <p class="c-mini-header">VALUES</p>
    <h3 class="c-section-header-lg">The right engagement ring for you.</h3>
    <p class="padding-top-sm">
      Rings are as unique as the people who wear them, 
      which is why we offer a range of shapes and sizes for gemstones and settings. 
      Check out why these couples value and chose Moissanite for their engagement rings.
    </p>
  </div>
  <div class="c-layered-section__image-left">
    <div class="c-layered-section__image-box-wrapper">
      <img class="c-tab-image js-tab-image active" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
      <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
      <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
    </div>
    <div class="c-layered-section__copy-box-wrapper c-mobile-width-full">
      <div class="copy-box">
        <div class="c-tabs">
          <div class="c-tablink js-tablink active" data-index=0>
            <p>John & Amanda</p>
          </div>
          <div class="c-tablink js-tablink" data-index=1>
            <p>Samantha & Sharon</p>
          </div>
          <div class="c-tablink js-tablink" data-index=2>
            <p>Allen & Jennifer</p>
          </div>
          <div class="c-tablink js-tablink" data-index=3>
            <p>Connor & Alison</p>
          </div>
          <div class="c-tablink js-tablink" data-index=4>
            <p>Andy & Leslie</p>
          </div>
        </div>
        <div class="c-tabs-content">
          <div class="c-tab-content js-tab-content active">
            <p><strong>John and Amanda</strong>
            <br>Brooklyn, New York</p><br>
            <h3>We prioritized buying a home instead.</h3><br>
            <p>We wanted to buy a home for us to settle down and eventually start a family in. 
              We were hesitant to detract from our goal by splurging on an expensive piece of jewelry which didn't have much investment
              in our future and financial stability.</p>
          </div>
          <div class="c-tab-content js-tab-content hidden">
            <p><strong>Samantha and Sharon</strong>
            <br>Seattle, Washinton</p><br>
            <h3>We wanted a conflict free option.</h3><br>
            <p>We knew we didn't want a mined Diamond because of its unethical industry practices.
              It was important for us to find a gem that was beautiful but also conflict free so we considered 
              lab Diamonds and lab Moissanites. We ultimately went with Moissanite because it looked
              identical to Diamonds and was more priced fairly.
              </p>
          </div>
            <div class="c-tab-content js-tab-content hidden">
            <p><strong>Allen and Jennifer</strong>
            <br>Dallas, Texas</p><br>
            <h3>Our temporary engagement ring.</h3><br>
            <p>We've always wanted a diamond ring but we were pursuing grad school and wanted to prioritize paying off our student loans
              first. We chose Moissanite as a temporary solution because it had the same look and quality. We 
              didn't have to spend as much time saving up for a ring and didn't need to delay our plans to get married. 
              </p>
          </div>
          <div class="c-tab-content js-tab-content hidden">
            <p><strong>Connor and Alison</strong>
            <br>Seattle, Washinton</p><br>
            <h3>We wanted to invest in experiences instead.</h3><br>
              <p>We love travelling and decided to put our money toward 
              building more memories and experiences instead. Our family was more traditional and 
              wanted us to have a diamond ring for what seemed like silly cultural traditions. We still haven't told them its
              not what they think it is!
              </p>
          </div>
          <div class="c-tab-content js-tab-content hidden">
            <p><strong>Andy and Leslie</strong>
            <br>Miami, Florida</p><br>
            <h3>The smartest upgrade option.</h3><br>
            <p>
            We didn't know about Moissanites when we got married and spent thousands on our engagement ring.
              We were looking to upgrade years later and discovered Moissanites looked just as great, if not better than what we had. 
              We found the smartest hack for our upgrade!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-width c-section-padding-top">
  <div class="grid grid--uniform grid--view-items">
    <div class="grid__item small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-right">
        <div class="copy-box__subheading">
            <span class="c-blue-bar"></span>
        </div>
        <h3 class="c-section-header-lg">Without the markups.</h3>
        <p class="padding-top-sm"> 
         Moissanites are not Diamonds and therefore do not come with over-commercialized markups.
         Moissanites' cut and clarity are always consistent so pricing varies only with size and shape.</p>
        <p>Note: Comparison of a 6.5mm Moissanite and a 1.00ct D-color, ideal cut Diamond.
      </div>
    </div>
    <div class="grid__item small--one-whole medium-up--one-half">
      <div class="grid-view-item">
        <canvas id="cost-chart"></canvas>
      </div>
    </div>
  </div>
</div>


<div class="c-section-padding-top">
  <div class="hero hero-large hero__overlay box ratio-container c-compare-hero">
  </div>
</div> -->


<div class="page-width">
  <div class="c-section-center">
    <h3 class="c-cta-header">Engagement rings starting at $500.</h3> 
    <a href="/collections/engagement-rings" class="btn c-primary-btn">
      SHOP NOW
    </a>
  </div>
</div>
  
<script src="{{ 'tabs-manager.js' | asset_url }}"></script>
<!-- <script src="{{ 'diamond-moissanite-chart.js' | asset_url }}" defer="defer"></script> -->
<script>
  TabsManager.initialize("js-tablink", "js-tab-content", "js-tab-image");
</script>
