<div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m text-center">
  <div class="c-section-center c-page-width-m">
    <h3 class="c-header-xl padding-bottom-s m-padding-bottom-s">Materials And Care</h3>
    <p>We only work with high quality materials, from ethically created Moissanites to our precious metals. 
	   You can wear our products every day, and forever with confidence. We have a few tips and tricks you can use to 
       keep your piece looking brand new.</p>
  </div>
</div>

<div class="hero hero-width c-hero-width c-landing-materials1">
  <div class="hero__inner padding-top-none text-center">
    <h3 class="c-header-xl text-white">Gemstone</h3>
  </div>
</div>

<div class="page-width padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-m">
  <div class="c-column-flex-container c-mobile-flex-column-reverse">
    <div class="c-column-flex-1 padding-right-l m-padding-right-none">
      <h3 class="c-header-xl padding-bottom-s m-padding-bottom-s m-padding-top-s">Moissanite</h3>
      <p>Moissanite originates from space meteorites and is a clear gemstone 
        commonly used in fine jewelry. Moissanite has a high refractive index
        which makes it one of the most dazzling gemstones on the market. 
      </p>
      <p class="c-label">WEAR</p>
      <p>Moissanite is the second hardest gemstone known to man and is more scratch resistant than Sapphires,
        Rubies, and Emerald.
      </p>
      <p class="c-label">CARE</p>
      <p>Use non-abrasive jewelry cleaner or warm soapy liquid and a toothbrush to clean; rinsing the stone and 
        band afterwards to remove traces of residue.
      </p>
    </div>
    <div class="c-column-flex-1">
      <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/DSCF5500_e239eb9a-e62a-4e6f-888d-fd1727349c76.jpg?2091476987876311533">
    </div>
  </div>
</div>

<div class="hero hero-width c-hero-width c-landing-materials2">
  <div class="hero__inner padding-top-none text-center">
    <h3 class="c-header-xl text-white">Metals</h3>
  </div>
</div>

<div class="page-width padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-m">
  <div class="c-column-flex-container c-mobile-flex-column-reverse">
    <div class="c-column-flex-1 padding-right-l m-padding-right-none m-padding-top-s m-padding-bottom-s">
      <h3 class="c-header-xl padding-bottom-s m-padding-bottom-s">14k Gold</h3>
      <p>Solid gold is the least reactive metal and will not oxidize or discolor. 
        The 14k alloy gives pieces their beautiful subtle hue and incredible shine. 14k is more scratch resistant and 
        will not bend or wear out as easily as 18k, 22k, or 24k gold.
      </p>
      <p class="c-label">WEAR</p>
      <p>Gold will develop small scratches from normal wear. However, gold is more resistant to scratches and will 
        retain its shine longer than metals like platinum.
      </p>
      <p class="c-label">CARE</p>
      <p>Gold can be polished at any time to look just like new. 
        Each polishing session will slightly thin out the gold
        since the top layer of the metal is essentially being removed each time.
      </p>
    </div>
    <div class="c-column-flex-1">
      <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/DSCF5516_1.jpg?801654234456281824">
    </div>
  </div>
  <div class="c-column-flex-container c-mobile-flex-column padding-top-xl m-padding-top-none">
    <div class="c-column-flex-1">
      <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/DSCF5541_1.jpg?13137521368876240078">
    </div>
    <div class="c-column-flex-1 padding-left-l m-padding-left-none">
      <h3 class="c-header-xl padding-bottom-s m-padding-bottom-s m-padding-top-s">Platinum</h3>
      <p>Platinum is one of the heaviest and densest precious metal used in jewelry and is
        known for the patina that develops over time. While the patina effect might not suit everyone, 
        it is perfect for those who appreciate a matte metal appearance.
      </p>
      <p class="c-label">WEAR</p>
      <p>Platinum develops a patina, or small scratches and scuffs from normal wear. 
	     The patina that develops on Platinum is more noticable than other metals and is sometimes preferred or even desired. 
      </p>
      <p class="c-label">CARE</p>
      <p>Platinum can be polished at any time to look shiny and new. 
        Each polishing session will slightly thin out the platinum 
        since the top layer of the metal is essentially being removed each time.
      </p>
    </div>
  </div>
</div>
