<div class="shopify-section index-section index-section--flush">
  <div class="hero hero-large hero__overlay box ratio-container c-compare-hero">
    <div class="hero__inner">
      <h3 class="c-section-header-xlg">A worry free<br>shopping experience.</h3>
    </div>
  </div>
</div>
<div class="page-width c-section-left c-page-width-narrow-mid">
  <h3 class="c-section-header-md padding-top-s">Returns and exchanges.</h3>
  <p class="padding-top-s">Quality is our highest priority. Always has been, always will be.
  </p>
  <h3 class="c-section-header-md padding-top-s">Returns.</h3>
  <p class="padding-top-s">
    If, in the unlikely event you are dissatisfied with your purchase, you may return 
    the item in its original within thirty (30) days of receipt for 
    a full refund. All returned items must include the original packaging and 
    documentation, and must be in new condition, unworn, unaltered, and undamaged; otherwise, the return will be 
    refused. Refunds are made for product purchase price only, excluding shipping and 
    handling costs.
  </p>
  <h3 class="c-section-header-md padding-top-s">Refunds.</h3>
  <p class="padding-top-s">
    Once your items are received and inspected by our team, an email will be sent to notify you that 
    we have received your returned item. We will also notify you of the approval or rejection 
    of your refund. If you are approved, then your refund will be processed, and a credit 
    will automatically be applied to your credit card or original method of payment, within a 
    certain amount of days. </p>
  <h3 class="c-section-header-md padding-top-s">International shipping.</h3>
  <p class="padding-top-s">Internationship shipping is not available at this time.</p>
<!--   <p class="padding-top-s">
    If for any reason you are not satisfied with your international online purchase, email 
    support@gemanewyork.com within 30 days of the original purchase to initiate a Return 
    Merchandise Authorization, which is required to process a return. The team 
    will provide you with instructions on where returns should be shipped.</p>
  <p>If you choose to return an item, our international shipping partner, Borderfree, will provide you with a 
    refund of the original merchandise price and any duties and taxes originally paid on the 
    item in the same currency and using the same exchange rate as your original order. Please 
    note that you will still be responsible for any shipping charges.</p> -->
  <h3 class="c-section-header-md padding-top-s">Contact us.</h3>
  <p class="padding-top-s">
    Please feel free to contact us with any questions or concerns. Email us at support@gemanewyork.com.</p>
</div>

