<div class="hero hero-width c-hero-width c-the-truth-hero">
  <div class="hero__inner padding-top-none">
    <h2 class="c-header-xxl text-white margin-bottom-xs text-center">Jewelers are greedy.</h2>
  </div>
</div>


<div class="c-page-width-xl padding-top-xl m-padding-top-l text-center">
  <h3 class="c-header-xl">Most jewelers won't tell you this. <u>But we will.</u></h3>
  <p class="text-m padding-top-xs m-padding-top-s"> 
    Big box jewelers won't provide the full picture when you're shopping for an engagement ring.
  </p> 
</div>

<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-xl m-padding-top-l">
  <div class="c-column-flex-1 m-padding-bottom-m">
    <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
  </div>
  <div class="c-column-flex-1 padding-left-l m-padding-left-none">
    <div>
      <h2 class="c-header-l">01 There are other clear gemstones to choose from.</h2>
      <p class="padding-top-s">There are 3 different gemstones commonly used for engagement rings, including
        White Sapphire, Moissanite, and Diamond. All three gemstones have nearly identical visual properties.</p>
    </div>
  </div>
</div>

<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-xl m-padding-top-s">
  <div class="c-column-flex-1  m-padding-bottom-m">
    <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
  </div>
  <div class="c-column-flex-1 padding-left-l m-padding-left-none">
    <div>
      <h2 class="c-header-l">02 All gemstones last forever.</h2>
      <p class="padding-top-s">With proper care, all gemstones can last forever and will not tarnish or change color. However, no gemstone
      is indestructable. Chips, cracks, and fractures can happen during the stone setting process to any gemstone.</p>
    </div>
  </div>
</div>

<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-l m-padding-top-s">
  <div class="c-column-flex-1 m-padding-bottom-m">
    <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
  </div>
  <div class="c-column-flex-1 padding-left-l m-padding-left-none">
    <div>
      <h2 class="c-header-l">03 Mainstream gemstone are marked up to 1000%.</h2>
      <p class="padding-top-s">In 1999, De Beers chairman Nicky Oppenheimer confessed, 
        "Diamonds are intrinsically worthless, except for the deep psychological need they fill."  
       </p>
    </div>
  </div>
</div>

<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-l m-padding-top-s">
  <div class="c-column-flex-1 m-padding-bottom-m">
    <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
  </div>
  <div class="c-column-flex-1 padding-left-l m-padding-left-none">
    <div>
      <h2 class="c-header-l">04 Half of the value is lost at the moment of purchase.</h2>
      <p class="padding-top-s">Not only is the demand for mainstream gemstones a marketing invention, but most gemstones on the market aren't actually that rare.
        If a gemstone is not rare, it unfortuantely holds little value.
       </p>
    </div>
  </div>
</div>

<div class="c-section-center padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-m">
  <h3 class="c-page-width-xl c-header-xl text-center">We Could Charge $8,000, But We Chose Not To.</h3>
  <p class="c-page-width-xl text-m padding-top-xs text-center"> 
    We believe price is not reflective of quality. We just don't feel it is fair to charge more than we need.</p>
  <div class="page-width padding-top-m padding-bottom-s">
    <div class="c-column-flex-container c-price-comparison-chart c-mobile-hide">
      <div class="c-column-flex-1 c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2"></div>
        <div class="c-price-comparison-chart__row">1.00ct</div>
        <div class="c-price-comparison-chart__row">1.20ct</div>
        <div class="c-price-comparison-chart__row">1.50ct</div>
        <div class="c-price-comparison-chart__row">1.90ct</div>
        <div class="c-price-comparison-chart__row">2.20ct</div>
      </div>
      <div class="c-column-flex-1 c-price-comparison-chart__gema c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2">GEMA & CO.<br>(Moissanite)</div>
        <div class="c-price-comparison-chart__row">$500</div>
        <div class="c-price-comparison-chart__row">$600</div>
        <div class="c-price-comparison-chart__row">$700</div>
        <div class="c-price-comparison-chart__row">$800</div>
        <div class="c-price-comparison-chart__row">$900</div>
      </div>
      <div class="c-column-flex-1 c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2">BLUE NILE<br>(Diamond)</div>
        <div class="c-price-comparison-chart__row">$6000</div>
        <div class="c-price-comparison-chart__row">$7,500</div>
        <div class="c-price-comparison-chart__row">$11,500</div>
        <div class="c-price-comparison-chart__row">$19,000</div>
        <div class="c-price-comparison-chart__row">$22,000</div>
      </div>
      <div class="c-column-flex-1 c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2">BRILLIANT EARTH<br>(Diamond)</div>
        <div class="c-price-comparison-chart__row">$7000</div>
        <div class="c-price-comparison-chart__row">$9,000</div>
        <div class="c-price-comparison-chart__row">$12,000</div>
        <div class="c-price-comparison-chart__row">$20,000</div>
        <div class="c-price-comparison-chart__row">$23,000</div>
      </div>
      <div class="c-column-flex-1 c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2">HARRY WINSTON<br>(Diamond)</div>
        <div class="c-price-comparison-chart__row">$9,000</div>
        <div class="c-price-comparison-chart__row">$9,500</div>
        <div class="c-price-comparison-chart__row">$13,500</div>
        <div class="c-price-comparison-chart__row">$21,000</div>
        <div class="c-price-comparison-chart__row">$25,000</div>
      </div>
    </div>

    <div class="m-price-comparison-chart c-desktop-hide">
      <div class="m-price-comparison-chart__row m-price-comparison-chart__gema">
        <div class="h2"><b>GEMA & CO.</b></div>
        <div class="c-column-flex-container">
          <div class="c-column-flex-1">
            <div class="c-price-comparison-chart__row">1.00ct</div>
            <div class="c-price-comparison-chart__row">1.20ct</div>
            <div class="c-price-comparison-chart__row">1.50ct</div>
            <div class="c-price-comparison-chart__row">1.90ct</div>
            <div class="c-price-comparison-chart__row">2.20ct</div>
          </div>
          <div class="c-column-flex-1">
            <div class="c-price-comparison-chart__row">$500</div>
            <div class="c-price-comparison-chart__row">$600</div>
            <div class="c-price-comparison-chart__row">$700</div>
            <div class="c-price-comparison-chart__row">$800</div>
            <div class="c-price-comparison-chart__row">$900</div>
          </div>
        </div>
      </div>
      <div class="m-price-comparison-chart__row m-price-comparison-chart__other m-padding-top-s">
        <div class="h2"><b>BRILLIANT EARTH</b></div>
        <div class="c-column-flex-container">
          <div class="c-column-flex-1">
            <div class="c-price-comparison-chart__row">1.00ct</div>
            <div class="c-price-comparison-chart__row">1.20ct</div>
            <div class="c-price-comparison-chart__row">1.50ct</div>
            <div class="c-price-comparison-chart__row">1.90ct</div>
            <div class="c-price-comparison-chart__row">2.20ct</div>
          </div>
          <div class="c-column-flex-1">
            <div class="c-price-comparison-chart__row">$800</div>
            <div class="c-price-comparison-chart__row">$900</div>
            <div class="c-price-comparison-chart__row">$1000</div>
            <div class="c-price-comparison-chart__row">$1100</div>
            <div class="c-price-comparison-chart__row">$1200</div>
          </div>
        </div>
      </div>
      <div class="m-price-comparison-chart__row m-price-comparison-chart__other m-padding-top-s">
        <div class="h2"><b>BLUE NILE</b></div>
        <div class="c-column-flex-container">
          <div class="c-column-flex-1">
            <div class="c-price-comparison-chart__row">1.00ct</div>
            <div class="c-price-comparison-chart__row">1.20ct</div>
            <div class="c-price-comparison-chart__row">1.50ct</div>
            <div class="c-price-comparison-chart__row">1.90ct</div>
            <div class="c-price-comparison-chart__row">2.20ct</div>
          </div>
          <div class="c-column-flex-1">
            <div class="c-price-comparison-chart__row">$6000</div>
            <div class="c-price-comparison-chart__row">$7,500</div>
            <div class="c-price-comparison-chart__row">$11,500</div>
            <div class="c-price-comparison-chart__row">$19,000</div>
            <div class="c-price-comparison-chart__row">$22,000</div>
          </div>
        </div>
      </div>
      <div class="m-price-comparison-chart__row m-price-comparison-chart__other">
        <div class="h2"><b>HARRY WINSTON</b></div>
        <div class="c-column-flex-container">
          <div class="c-column-flex-1">
            <div class="c-price-comparison-chart__row">1.00ct</div>
            <div class="c-price-comparison-chart__row">1.20ct</div>
            <div class="c-price-comparison-chart__row">1.50ct</div>
            <div class="c-price-comparison-chart__row">1.90ct</div>
            <div class="c-price-comparison-chart__row">2.20ct</div>
          </div>
          <div class="c-column-flex-1">
            <div class="c-price-comparison-chart__row">$9,000</div>
            <div class="c-price-comparison-chart__row">$9,500</div>
            <div class="c-price-comparison-chart__row">$13,500</div>
            <div class="c-price-comparison-chart__row">$21,000</div>
            <div class="c-price-comparison-chart__row">$25,000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="c-page-width-xl padding-top-s text-light text-center">
    Prices are sample, non-sale examples based on a review of round gemstones on Brilliant Earth, Blue Nile and Harry Winston's websites as of 11/04/2017.</p>
</div>

<div class="padding-top-l padding-bottom-l m-padding-top-l m-padding-bottom-l c-bg-light-gray">
  <div class="text-center">
    <h3 class="c-header-xl m-padding-bottom-s">See what everyone is saying</h3>
    <a href="/pages/careers" class="btn c-secondary-btn c-label">
      VIEW REVIEWS
    </a>
  </div>
</div>

<div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m">
  <div class="text-center padding-bottom-s">
    <h3 class="c-header-xl m-padding-bottom-xs">Helpful FAQs</h3>
    <div class="custom-about-content padding-top-m c-section-left c-page-width-l">
      <div class="about-row">
        <a href="#what-are-moissanites" class="js-about-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="about-header4">What Are Moissanites?</h4>
        </a>
        <div class="js-about-content about-content hidden">
          <p>
            Moissanite is composed of silicon carbide and is a rare mineral that originates from space meteorites. 
            Moissanites were first discovered by chemist Dr. Henri Moissan at the site of a massive meteorite strike 
            in Arizona, USA. This new stone was named 'Moissanite' in his 
            honor as Dr. Moissan spent the rest of his life attempting to recreate 
            this rare mineral in his laboratory.</p>
          <p>It wasn't until the late 80's 
             where scientists developed the innovative 
            thermal growing process that made Moissanites more widely available to consumers.
          </p>
        </div>
      </div>
      <div class="about-row">
        <a href="#is-moissanite-a-diamond" class="js-about-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="about-header4">Is Moissanite a brand of diamond or simulated diamond?</h4>
        </a>
        <div class="js-about-content about-content hidden">
          <p>
            Moissanite is not a diamond or substitute of a diamond, either scientifically, chemically or emotionally. Moissanite is not a fake diamond but rather a unique clear gemstone (just like white sapphires) with its own set of chemical and optical properties. The properties of a Moissanite exhibit more fire and brilliance than any other gemstone. To an untrained eye, the visual difference between a Moissanite and diamond is undetectable.
          </p>
        </div>
      </div>
      <div class="about-row">
        <a href="#why-are-moissanites-sold-by-millimeter" class="js-about-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="about-header4">Why are Moissanites sold by millimeter rather than carats?</h4>
        </a>
        <div class="js-about-content about-content hidden">
          <p>
            Carat is the traditional unit of measurement for a diamond's weight. Moissanites are not measured in carats because it weighs approximately 10 percent less than diamond. For example, a 6.5mm round diamond would weigh 1.0ct, while a 6.5mm round moissanite would weigh 0.88ct. The two stones would visually be the same size - 6.5mm in diameter. All stones for sale are listed with their size in millimeters and the diamond equivalent weight (DEW) in carats.
          </p>  
        </div>
    </div>
  </div>
  <a href="/pages/were-here-to-help" class="btn c-secondary-btn c-label margin-none">
    SEE ALL FAQS
  </a>
</div>