<div class="shopify-section index-section index-section--flush">
  <div class="hero hero-large hero__overlay box ratio-container c-career-hero">
    <div class="hero__inner">
      <h3 class="c-section-header-xlg">We are jewelers,<br>designers, practical-thinkers.</h3>
    </div>
  </div>
</div>

<div class="padding-top-l">
  <div class="c-layered-section__image-right">
    <div class="c-layered-section__copy-box-wrapper c-mobile-width">
      <div class="copy-box">
        <div class="copy-box__subheading">
          <span class="c-blue-bar"></span>
          <p class="c-mini-header">TEAM</p>
        </div>
          <h3 class="c-section-header-lg">The company we keep.</h3>
          <p class="padding-top-m">  
            We're a team of creatives
            with a goal to make celebrating love and marriage less commercialized and more accessible. It’s our sweat-the-details, 
            practical-thinking mentality that’s gotten us to today — but our ambitions are 
            far greater. Think you’re up for the challenge?
        </p>
      </div>
    </div>
    <div class="c-layered-section__image-box-wrapper">
      <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
    </div>
  </div>
</div>

<div class="page-width c-section-left c-page-width-narrow-mid">
  <h3 class="c-section-header-lg padding-top-xsm">Careers.</h3>
  <p class="padding-top-m">Each person at Gema brings something unique to the table — 
      a certain je ne sais quoi and positive attitude that make it a genuinely great place 
      to learn. Check out our current openings to see where you might fit.</p>
  <div class="custom-about-content padding-top-s">
    <div class="about-row">
      <a href="#jewelry-designer" class="js-careers-content-link">
        <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
        <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
        <h4 class="about-header4">Jewelry Designer</h4>
      </a>
      <div class="js-dropdown-content about-content hidden">
        <p class="padding-top-m">Job Description</p>
        <p>
          The opportunity is for a detail and design oriented person with strong 
          communication skills. Our focus is on creating unique pieces that are accessible 
          jewelry. We strive to achieve this vision primarily through our creative and enthusiastic employees 
          who dare to be innovative, and thrive in a friendly and fast-paced environment. 
          The position will include accountabilities including prototype, file creation, 
          communication, support for cross functional partners, and collaboration.
        </p>
        <p>Details</p>
        <ul>
          <li>Coordinate prototype fabrication and installation activities to ensure products 
            and systems conform to engineering design and specification. Evaluate and recommend 
            design modifications.</li>
          <li>Work on multiple projects simultaneously and meet tight deadlines within established budgets.</li>
          <li>Collaborate effectively with design and production team members.</li>
          <li>Prepare drawings consisting of standard arrangements, layouts, flow sheets, assemblies, 
            isometrics, etc., from rough sketches and/or from general engineering and design information 
            according to established standards and procedures.</li>
          <li>Works closely with other Designer/Drafters to ensure a coordinated design.</li>
          <li>Compiles data and performs dimensional and routine tasks required for the preparation of drawings.</li> 
          <li>Reads and understands orthographic (2D) and/or isometric (3D) designs and supplier/manufacturer drawings.</li>
          <li>Makes required changes, additions, and/or revisions, as directed by immediate supervisor.
          <li>Oversee junior designer/drafters. Checks drawings prepared by lower-level Designer/Drafters for accuracy and adequacy.</li>
        </ul><br>
        <p>Qualifications</p>
        <ul>
          <li>Bachelor’s Degree in Jewelry design, fashion design, industrial or product design, fine art or related degree preferred.</li>
          <li>3-5 years of experience using CAD software (at least 3 year Solid Works) to create 3D models and drawings.</li>
          <li>Knowledge of 3D CAD (Rhino, Freeform or similar).</li>
          <li>Proficiency in Photoshop and Illustrator is essential.</li>
          <li>Strong and accurate technical drawing and hand sketching abilities.</li>
          <li>Highly developed visual communication skills, rendering, and quick visualizing. Should be able to visualize in 3D from multiple angles for accurate side and back 
            views when creating spec sheets.</li>
		  <li>Must be a handcraft oriented person and must be skilled in jewelry design by 
            hand and basic jewelry techniques.</li>
          <li>Highly responsible, self-motivated and able to thrive in an energetic, fast-paced, creative team environment.</li>
          <li>Requirements include PC literacy, proficiency in utilizing CAD and other computer software used to complete design assignments.</li>
          <li>Highly developed visual communication skills: sketching, rendering, quick visualizing.</li>
        </ul>
        <br><p>Job Type: Full-time</p>
        <p>Email Resume and portfolio work to careers@gemanewyork.com.</p>
      </div>
    </div>
    <div class="about-row">
      <a href="#customer-experience-associate" class="js-careers-content-link">
        <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
        <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
        <h4 class="about-header4">Customer Experience Associate</h4>
      </a>
      <div class="js-dropdown-content about-content hidden">
        <p class="padding-top-m">Job Description</p>
        <p>
          At Gema, helping customers is our top priority. As a Customer Experience Associate, 
          you will be the direct link to our customers, ensuring that each one has a positive shopping experience. 
          At Gema, we love to educate our consumers, impress, and set our standards high. We’re looking for 
          great explainers, patient listeners, and problem-solvers to join the team. 
        </p>
        <p>Details</p>
        <ul>
          <li>Act as the point person for all customer inquiries via phone and email
            Troubleshoot technical and onboarding issues.</li>
		  <li>Position yourself as a Gema brand ambassador by being helpful, supportive, and kind
            Identify trends and patterns in customer problems.</li>
          <li>Suggest product improvements to help us acquire and retain customers.</li>
          <li>Identify trends and patterns in customer problems.</li>
          <li>Suggest product improvements to help us acquire and retain customers.</li>
          <li>Communicate with and style customers via email and social media.</li>
          <li>Help customers with their orders, and problem-solve through pre- and post-purchase issues.</li>
          <li>Foster relationships with customers by following up after orders are received.</li>
          <li>Troubleshoot user experiences on gemanewyork.com.</li>
          <li>Update and polish processes used by the company by collaborating with other departments (Operations, Sourcing, Social Media, Merchandising, Marketing, and Tech).</li>
          <li>Represent Gema at events.</li>
		  <li>Develop and analyze reports on customer behavior, returned products, and services 
            performed, so the team can improve upon its skills and better serve our customers.</li>
        </ul>
        <p>Qualifications</p>
        <ul>
          <li>At least 4 years of experience in a customer service role.</li>
          <li>Great communication skills, both written and verbal.</li>
          <li>A passion for solving problems.</li>
          <li>A friendly demeanor and a solutions-oriented approach.</li>
          <li>Empathy and understanding for customer needs.</li>
          <li>The desire to educate and help others.</li>
		  <li>An eye for detail, strong organizational skills and the ability to work 
            independently and under pressure.</li>
        </ul><br>
        <p>Job Type: Full-time</p><br>
        <p>Email Resume to careers@gemanewyork.com.</p>
      </div>
    </div>
    <div class="about-row">
    </div>
  </div>
</div>

<script src="{{ 'dropdowns.js' | asset_url }}"></script>
<script>
  Dropdowns.initialize('js-careers-content-link')
</script>