<div class="page-width padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-m">
  <div class="c-section-center c-page-width-m">
    <h3 class="c-header-xl padding-bottom-m text-center">Smart & Practical</h3>
    <p class="text-m text-center">Diamonds are marked up 500%-1000% the actual cost so we're trending away from this gemstone completely.  
      To make luxury smart and practical, we chose do things differently by exclusively offering Moissanites, a different kind of clear gemstone.</p>
    <p class="text-m text-center">Our jewelry is handcrafted using conflict-free Moissanites in the same classic styles, fine materials, 
      and quality craftsmanship as other luxury jewelers but without the inflated markups.
    </p>
  </div>
</div>

<div class="c-bg-color padding-top-m padding-bottom-m m-padding-top-m m-padding-bottom-m">
  <div class="c-section-center c-page-width-m">
    <div class="padding-left-xl padding-right-xl m-padding-none m-padding-right-none m-padding-left-none">
      <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/pricecomparison_aa074e17-aecf-4538-bb93-cb0ff331c889.png?12877040322830605039">
  	</div>
  </div>
</div>

<div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m">
  <h3 class="text-center">Here's an idea on how the same look and style are compared</h3>
  <div class="c-section-center c-page-width-s">
    <div class="padding-left-l padding-right-l m-padding-none m-padding-right-none m-padding-left-none">
      <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/rose_gold_ring.jpg?11348167895955389420">
  	</div>
    <div class="page-width c-column-flex-container padding-top-s m-padding-top-s m-padding-bottom-s">
      <div class="c-column-flex-1 m-padding-bottom-none c-border-right">
        <div class="padding-left-m padding-right-m m-padding-right-none m-padding-left-none text-center">
          <p class="text-m padding-top-s">$950 USD
            <br><b>Moissanite</b></p>
        </div>
      </div>
      <div class="c-column-flex-1 m-padding-left-none text-center">
        <div>
          <p class="text-m padding-top-s">$6,000 USD
            <br><b>Diamond</b></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-bg-color padding-top-l padding-bottom-l m-padding-top-l m-padding-bottom-l">
  <div class="c-section-center c-page-width-m text-center">
    <h3 class="c-header-xl padding-bottom-xs m-padding-bottom-s">Three months salary not required</h3>
    <a href="/collections/engagement-rings" class="btn c-primary-btn">
      <b>Shop now</b>
    </a>
  </div>
</div>