<div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m">
  <div class="c-section-center c-page-width-l">
    <h3 class="c-header-l padding-top-s padding-bottom-s c-accent-color">California Transparency in Supply Chains Act (SB657)/U.K.</h3>
    <p>Our commitment to corporate social responsibility includes charitable sponsorship and philanthropic 
      programs while ensuring that our jewelry is crafted—and our precious materials procured—in a responsible 
      manner. All Gema&Co suppliers must certify that they 
      maintain ethical business practices, and comply with applicable laws and regulations, including protecting 
      basic human rights wherever they operate.</p>
    <p>As a member of the RJC, we are independently audited against the Responsible Jewelry Code of Practices 
      – an international standard on responsible business practices for diamonds, gold and platinum group 
      metals. The Code of Practices addresses human rights, employment and labor standards, environmental 
      impact, product disclosure, and other relevant topics in the jewelry supply chain. 
      We require all employees who work on supply chain management to understand the RJC Code of Practices. 
      Employees are trained to investigate violations of the Code of Practices and take appropriate action 
      up to and including terminating agreements with vendors who have demonstrated egregious or uncorrected 
      material violations.
    </p>
    <h3 class="c-header-l padding-top-s padding-bottom-s c-accent-color">California Transparency in Supply Chains Act of 2010</h3>
    <p>In accordance with the California Transparency in Supply Chains Act of 2010, Gema&Co monitors its 
      relationships with suppliers against the risk of human trafficking and slavery, and if potential risks are 
      identified, the company takes appropriate steps to address the situation. Specifically, the RJC provides 
      to Gema&Co Third-party verification of Gema&Co’s supply chain and certification that Gema&Co 
      adheres to all of the standards in its Code of Practices, which includes issues of human trafficking 
      and slavery. Independently, outside of the RJC requirements, Gema&Co undertakes to require suppliers 
      to adhere to the respective laws of their country regarding human trafficking and slavery and directs 
      company management to ensure that employees are accountable for guarding against such risks; disciplinary 
      action is taken if any failure to do so is discovered.
    </p>
  </div>
</div>