{% include 'support-header' %}


<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-m m-padding-top-none padding-bottom-m">
  <div class="c-column-flex-2 padding-top-s">
    {% include 'support-sidebar', curr_page: 'Returns' %}
  </div>
  <div class="c-column-flex-7">
    <div>
      <h1 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Returns</h1>
      <p class="m-padding-top-none">
        If you are not 100% satisfied, we’ll be happy to return or exchange 
        your item, subject to the terms and conditions of this 
        return policy. You may return or exchange the item within thirty (30) days of receipt for a full refund 
        less the cost of the return shipping (ranging $16 - $40 depending on insurance cost for the returned product in the USA. Shipping costs for non USA orders will vary.).
        We value you and will always be reasonable. We ask that you do the same.
      </p>
      <p>All returned items must be in their complete, unused and original condition, 
        in it's original packaging and accompanied by the warranty certification and proof 
        of purchase. Returned items must show no signs of use, wear, or abuse. Any merchandise returned 
        without a warranty card is subject to a $25 lost warranty fee.
      </p>
      <p>If the returned product does not meet the above requirements or multiple refunds and/or exchanges have been processed 
        to the same person, entities, or controlling interests; 
        we may exercise our right to refuse your return or exchange, and can not guarantee 
        that we will send the non-returnable/non-refundable product back to you.
		Refunds are made for product purchase price only, excluding shipping and 
        handling costs.
      </p>
      <p>
        Bespoke, customized pieces, and final sale items are not eligible for return or exchanges.
      </p>
      <p>To start the returns process, please reach out to <span class="c-accent-color">support@gemaandco.com.</span>
      </p>
      <h3 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Refunds</h3>
      <p class="m-padding-top-none">
        Once your items are received and inspected by our team, an email will be sent to notify you that 
        we have received your returned item. We will also notify you of the approval or rejection 
        of your refund. If you are approved, your refund will be processed, and a credit 
        will automatically be applied to your credit card or original method of payment. Please allow 
        approximately 7-10 business days for the refund process to be completed. This wait time 
        will start on the first business day after your return has been received.
      </p>
    </div>
  </div>
</div>

