{% include 'support-header' %}


<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-m m-padding-top-none padding-bottom-m">
  <div class="c-column-flex-2 padding-top-s">
    {% include 'support-sidebar', curr_page: 'Returns' %}
  </div>
  <div class="c-column-flex-7">
    <div>
      <h3 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Returns</h3>
      <p class="m-padding-top-none">
        We strive to provide socially responsible and accessible jewelry that will last a lifetime. 
        If you are not 100% satisfied for any reason, we’ll be more than happy to return or exchange 
        your item as our commitment to you subject to the terms and conditions of this 
        return policy. You may return or exchange the item within thirty (30) days of receipt for a full refund minus the cost of the return shipping label (which will range anywhere from $16 - $40 depending on the cost of insuring the returned product).
      </p>
      <p>All returned items must be in their complete, unused and original condition, 
        including in their original packaging, and accompanied by the warranty certification and proof 
        of purchase.
      </p>
      <p>Returned items must show no signs of use, wear, or abuse. Any merchandise returned 
        without a warranty card is subject to a $25 lost warranty fee. If you received a free gift w
        ith your purchase, the gift must be returned along with the item you purchased. 
        Failure to return the free gift may result in a charge to you for the item, or we may deduct 
        the value of the gift from the amount refunded to you.
       </p>
       <p>If the returned product does not meet the above requirements or multiple refunds have been processed 
        to the same person, entities, or controlling interests; 
        we will not process your return or exchange, and we do not guarantee 
        that we will send the non-returnable/non-refundable product back to you.
		Refunds are made for product purchase price only, excluding shipping and 
        handling costs.</p>
      <p>To start the returns process, please reach out to <span class="c-accent-color">support@gemaandco.com.</span>
      </p>
      <h3 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Refunds</h3>
      <p class="m-padding-top-none">
        Once your items are received and inspected by our team, an email will be sent to notify you that 
        we have received your returned item. We will also notify you of the approval or rejection 
        of your refund. If you are approved, your refund will be processed, and a credit 
        will automatically be applied to your credit card or original method of payment. Please allow 
        approximately 7-10 business days for the refund process to be completed. This wait time 
        will start on the first business day after your return has been received.
      </p>
    </div>
  </div>
</div>

