<div class="pg-bg-primary">
  <div class="hero hero-width c-hero-width c-our-story-hero">
    <div class="hero__inner">
      <h2 class="c-header-xl margin-bottom-xs text-white m-">We're redefining the<br>symbol of love</h2>
    </div>
  </div>

  <div class="page-width padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-m">
    <div class="c-section-center c-page-width-m">
      <p class="c-mini-header">WHY WE DO WHAT WE DO</p>
      <h3 class="c-header-l padding-bottom-m">Our story</h3>
      <p class="text-m">Some traditions are meant to be broken, and that's not necessarily a bad thing.
        We’re determined to create quality products 
        that are (dare we say) disruptive and products as special as the 
        people who wear them. That’s why we're trending away from 
        over-marketed Diamonds and introducing Moissanites. 
        It’s a new outlook on old traditions. It's a new generation
        of engagement rings.
      </p>
    </div>
  </div>
</div>
 <div class="hero hero-width c-hero-width c-our-story-hero-1">
  <div class="hero__inner padding-top-none">
<!--     <h2 class="mega-title--large margin-bottom-xs">More than 70%</h2>
    <p class="c-blog-subheader">7 in 10 couples are taking out loans, financing, or going into debt when purchasing their engagement ring. 
      That's a problem when there are practical options to choose from.
    </p> -->
  </div>
</div>
<div class="pg-bg-primary">
  <div class="page-width padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-m">
    <div class="c-section-center c-page-width-m">
      <p class="c-mini-header">COMMITMENT TO OUR CRAFT</p>
      <h3 class="c-header-l padding-bottom-m">Thoughtful craftsmanship</h3>
      <p class="text-m">All designs are meticulously crafted from the highest quality materials. 
        We source pure precious metals, ethical gemstones — and obsess over every detail.
        From our conflict-free gemstones to our thoughtfully designed settings, all of our products are consciously made 
        with our environment in mind. We put the same amount of time and energy to ensure fair pricing.
        Although the fine metals we use fluctuate in market price, our retail prices do not.
      </p>
    </div>
  </div>

  <div class="page-width padding-top-m padding-bottom-xl m-padding-top-s m-padding-bottom-s">
    <div class="c-section-center padding-bottom-m">
      <h3 class="c-cta-header">This is just the beginning.</h3>
      <a href="/pages/careers" class="btn c-secondary-btn">
        JOIN OUR TEAM
      </a>
    </div>
  </div>
</div>
