<div class="c-bg-light-gray">
  <div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m">
    <div class="c-section-center c-page-width-m">
      <h1 class="c-header-xl padding-bottom-s text-center">Resplendent Moissanite™</h1>
      <p class="text-center">
        Gema&Co is extremely proud to offer you our very own collection of premium Moissanite that is able to compete in all quality standards of the most renown Moissanite brands.
      </p>
    </div>
  </div>
</div>
<div class="page-width padding-top-l padding-bottom-l m-padding-top-s m-padding-bottom-s">
  <div class="c-column-flex-container c-mobile-flex-column">
    <div class="c-column-flex-1 m-padding-bottom-s">
      <div class="padding-right-m m-padding-right-none">
        <h2 class="c-header-xl padding-bottom-s">Color</h2>
        <p class="m-padding-top-s">
          Through recent technological innovataions and outstanding dedication from our team, all Resplendent Moissanites are guaranteed to be colorless and fall within the D E F range.
          This means that Resplendent Moissanites will be one of the whitest stones available to the public today, and are guaranteed to not discolor or fade over time.
        </p>
      </div>
    </div>
    <div class="c-column-flex-1">
      <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/gema_resplendent_moissanite.jpg?v=1583949801">
    </div>
  </div>
</div>
<div class="page-width padding-top-l padding-bottom-l m-padding-top-s m-padding-bottom-s">
  <div class="c-column-flex-container c-mobile-flex-column">
    <div class="c-column-flex-1 m-padding-bottom-s">
      <div class="padding-right-m m-padding-right-none">
        <h2 class="c-header-xl padding-bottom-s">Cut</h2>
        <p class="m-padding-top-s">
          Of all the Moissanite's 4Cs, cut is one of the most complex and technically difficult to analyze.
          Gema&Co's Resplendent Moissanites utilize advanced algorithms and imaging to calculate the best proportions for facets that influence the stone’s face-up appearance and brilliance.
          These proportions are then precisely machine cut to produce a Resplendent Moissanite with the most fire and brilliance possible.
        </p>
        <p class="m-padding-top-s">
          All standard Resplendent Moissanites come in brilliant cuts, but we are also able to produce custom cuts upon request such as: Crushed Ice, Old Mine Cut, etc. Inquire via email at <a href="mailto:support@gemaandco.com">support@gemaandco.com</a>
        </p>
      </div>
    </div>
    <div class="c-column-flex-1">
      <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/00BA5DCE-47F2-4A54-900C-814469AA04C1.jpeg?v=1583952715">
    </div>
  </div>
  <div class="padding-top-xl m-padding-top-m">
    <div class="c-column-flex-container c-mobile-flex-column">
      <div class="c-column-flex-1">
        <div class="padding-right-m m-padding-right-none">
          <h2 class="c-header-xl padding-bottom-s">Clarity</h2>
          <p class="m-padding-top-s">Clarity refers to how clean or clear
            a gemstone is with respect to natural microscopic characteristics that were 
            trapped within while the gemstone was forming. Internal characteristics 
            are known as inclusions, and characteristics on the surface of the gem are 
            known as blemishes.
          </p>
          <p class="m-padding-bottom-s">Since our Resplendent Moissanites are all lab-created using natural 
            elements, we are able to control the entire process and ensure the highest quality gemstone with the greatest care 
            in regards to “Clarity.” <strong>All Resplendent Moissanites are guaranteed to be VS1 in clarity or better.</strong>
          </p>
        </div>
      </div>
      <div class="c-column-flex-1">
        <div class="padding-left-m m-padding-left-none">
          <div class="four-cs-content">
            <div class="four-c-content js-tab-content-clarity active">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/FL-IF.png?15194827371846435228">
            </div>
            <div class="four-c-content js-tab-content-clarity hidden">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VVS1-VVS2.jpg?631151962736553495">
            </div>
            <div class="four-c-content js-tab-content-clarity hidden">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VS1-VS2.jpg?2622491702304126006">
            </div>
            <div class="four-c-content js-tab-content-clarity hidden">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/SI1-SI2.jpg?631151962736553495">
            </div>
          </div>
          <div class="four-cs-select">
            <ul>
              <li>
                <div class="four-c-select js-tablink-clarity active" data-index=0>
                </div>
                <label>FL-IF</label>
              </li>
              <li>
                <div class="four-c-select js-tablink-clarity" data-index=1>
                </div>
                <label>VVS1-VVS2</label>
              </li>
              <li>
                <div class="four-c-select js-tablink-clarity" data-index=2>
                </div>
                <label>VS1-VS2</label>
              </li>
              <li>
                <div class="four-c-select js-tablink-clarity" data-index=3>
                </div>
                <label>SI1-SI2</label>
              </li>
            </ul>
            <div class="strike-bar"></div>
          </div>
          <div class="four-cs-chart">
            <div class="c-column-flex-container">
              <div class="c-column-flex-1">
                <strong>FL-IF</strong>
              </div>
              <div class="c-column-flex-4">
                Flawless to internally flawless
              </div>
            </div>
            <div class="c-column-flex-container">
              <div class="c-column-flex-1">
                <strong>VVS1-VVS2</strong>
              </div>
              <div class="c-column-flex-4">
                Very very slight inclusions
              </div>
            </div>
            <div class="c-column-flex-container">
              <div class="c-column-flex-1">
                <strong>VS1-VS2</strong>
              </div>
              <div class="c-column-flex-4">
                Very slight inclusions
              </div>
            </div>
            <div class="c-column-flex-container">
              <div class="c-column-flex-1">
                <strong>SI1-SI2</strong>
              </div>
              <div class="c-column-flex-4">
                Slightly included
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-column-flex-container c-mobile-flex-column padding-top-xl m-padding-top-m">
    <div class="c-column-flex-1">
      <div class="padding-right-m m-padding-right-none">
        <h2 class="c-header-xl padding-bottom-s">Carat</h2>
        <p class="m-padding-top-s">
          Gema&Co Resplendent Moissanites are available in all standard sizes viewable on our product pages. We can also custom cut nearly any reasonable size of your preference. Inquire via email at <a href="mailto:support@gemaandco.com">support@gemaandco.com</a>
        </p>
        <p class="m-padding-bottom-s">In order to minimize the confusion this can create, all stones are listed on Gema&Co with their actual size in mm and/or the diamond equivalent in carats. 
        </p>
      </div>
    </div>
    <div class="c-column-flex-1">
    </div>
  </div>
</div>

<script>
  var clarityTabs = new TabsManagerV2("js-tablink-clarity", "js-tab-content-clarity");
</script>


