<div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m text-center">
  <div class="c-section-center c-page-width-m">
    <h3 class="c-header-xl padding-bottom-s m-padding-bottom-s c-accent-color">Our Mission</h3>
    <p>Our goal is simple. We want to  make celebrating love and marriage less commercialized and more accessible.
      That's why we're trending away from over-marketed Diamonds and introducing conflict-free and environmentally friendly
      Moissanite gemstones. It's a different way of doing things, sure, but we think its for the better.</p>
     <p>It's a new outlook on old traditions. A new generation of engagement rings.</p>
  </div>
</div>

<div class="c-bg-light-gray">
  <div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m text-center">
    <div class="c-section-center c-page-width-m">
      <h3 class="c-header-xl padding-bottom-s m-padding-bottom-s c-accent-color">Our Values</h3>
      <p >These are the values that guide our business, our product development, and our brand.
      As our company continues to evolve and grow, these three values remain constant.</p>
    </div>
    <div class="c-column-flex-container c-mobile-flex-column padding-top-s">
      <div class="c-column-flex-1 padding-right-m padding-top-m m-padding-right-none">
        <img style="height: 50px; padding-bottom:5px;" src="https://cdn.shopify.com/s/files/1/2109/1565/files/003-lightbulb.png?18202075033628303451">
        <p class="c-label margin-none padding-top-xs padding-bottom-xs">PRACTICAL THINKING</p>
        <p>Celebrating love shouldn't cost anyone multiple months salary. We're 
          redefining this artificial rule.
        </p>
      </div>
      <div class="c-column-flex-1 padding-right-m padding-top-m m-padding-right-none">
        <img style="height: 50px; padding-bottom:5px;" src="https://cdn.shopify.com/s/files/1/2109/1565/files/001-like.png?18202075033628303451c">
        <p class="c-label margin-none padding-top-xs padding-bottom-xs">INTEGRITY</p>
        <p>We strive to maintain an honest and fair markup of our products and refuse to 
          upcharge, even if its "wedding" related.
        </p>
      </div>
      <div class="c-column-flex-1 padding-right-m padding-top-m m-padding-right-none">
        <img style="height: 50px; padding-bottom:5px;" src="https://cdn.shopify.com/s/files/1/2109/1565/files/002-wedding-rings.png?18202075033628303451">
        <p class="c-label margin-none padding-top-xs padding-bottom-xs">BUILD COMMUNITY</p>
        <p>We're a like-minded community who focus on the love which stands behind an 
          engagement ring. Not its size or cost.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="shopify-section index-section m-padding-top-m m-padding-bottom-s">
  <div class="c-crosslap-section page-width padding-top-xl padding-bottom-xl">
    <div class="top-row">
      <div class="copy-box__wrapper">
        <div class="copy-box">
          <p class="c-label">ETHICAL</p>
          <h3 class="c-header-xl padding-bottom-s m-padding-bottom-s c-accent-color">Conflict-Free</h3>
          <p>Gema&Co continually strives to be a leader in sustainability. We put as much focus on the specs
            of our gems as we do on the source. Our Moissanite gemstones are lab grown and hand cut by professional 
            jewelers in the United States. 
          </p>
          <p class="m-padding-bottom-s">By eliminating the mining process completely, opting for a 
            sustainably cultured gemstone reduces the human and environmental toll of the industry. 
            There are no unfair labor practices or poor working conditions. You have 
            peace of mind knowing your gemstone was produced ethically and 
            responsibly.</p>
        </div>
      </div>
      <div class="img-box__wrapper">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/conflict_free.png?12317511027388390233">
      </div>
    </div>
    <div class="bottom-row">
      <div class="img-box__wrapper left">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/sustainability_56363334-bfb4-42f9-9d30-8f1d3740883e.jpg?12317511027388390233"/>
      </div>
      <div class="copy-box__wrapper">
        <div class="copy-box">
          <p class="c-label">CONSCIOUS</p>
          <h3 class="c-header-xl padding-bottom-s m-padding-bottom-s c-accent-color">Environmentally Responsible</h3>
          <p>Metal mining is one of the most environmentally 
            destructive types of mining and millions of gold miners work in dangerous environments 
            to earn low wages. Our objective is to help eliminate the negative impacts of 
            overmining by reducing the demand for newly mined metals.</p>
          <p class="m-padding-bottom-none">The jewelry we cast is made with recycled
            precious metals. Because our reclaimed platinum and gold are refined back into 
            their pure elements, they are the same high quality as newly mined metals. 
            Reclaimed precious metals come from numerous post-consumer sources, 
            including existing jewelry and industrial-use metals.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-bg-light-gray padding-top-l padding-bottom-m m-padding-top-l m-padding-bottom-s">
  <div class="text-center padding-bottom-m">
    <h3 class="c-header-xl padding-bottom-xs m-padding-bottom-s c-accent-color">This is just the beginning</h3>
    <a href="/pages/careers" class="btn c-primary-btn c-label">
      JOIN OUR TEAM
    </a>
  </div>
</div>
