<div class="page-width c-page-width-l padding-top-l padding-bottom-l">
  <div class="c-section-left">
    <h3 class="c-header-l">Returns and refunds</h3>
    <p class="padding-top-s">Quality is our highest priority. Always has been, always will be.
    </p>
    <h3 class="c-section-header-md padding-top-s">Returns</h3>
    <p class="padding-top-xs">
      If, in the unlikely event you are dissatisfied with your purchase, you may return 
      the item within thirty (30) days of receipt for 
      a full refund. All returned items must include the original packaging and 
      documentation, and must be in new condition, unworn, unaltered, and undamaged; otherwise, the return will be 
      refused. Refunds are made for product purchase price only, excluding shipping and 
      handling costs. To start the returns process, please reach out to support@gemaandco.com.
    </p>
    <h3 class="c-section-header-md padding-top-s">Refunds</h3>
    <p class="padding-top-xs">
      Once your items are received and inspected by our team, an email will be sent to notify you that 
      we have received your returned item. We will also notify you of the approval or rejection 
      of your refund. If you are approved, your refund will be processed, and a credit 
      will automatically be applied to your credit card or original method of payment, within a 
      certain amount of days. </p>
    <h3 class="c-section-header-md padding-top-s">International shipping</h3>
    <p class="padding-top-s">Internationship shipping is not available at this time.</p>
    <h3 class="c-section-header-md padding-top-s">Contact us</h3>
    <p class="padding-top-xs">
      Please feel free to contact us with any questions or concerns. Email us at support@gemaandco.com.</p>
  </div>
</div>

