{% include 'support-header' %}


<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-m m-padding-top-none padding-bottom-m">
  <div class="c-column-flex-2 padding-top-s">
    {% include 'support-sidebar', curr_page: 'Warranty' %}
  </div>
  <div class="c-column-flex-7">
    <div>
      <h1 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Warranty</h1>
      <p class="m-padding-top-none">
        Gema&Co is a proud partner of Charles & Colvard (C&C). All C&C branded Moissanite gemstones at Gema&Co are 
        backed by an honest limited lifetime warranty through C&C.
      </p>
      <p>
        All Gema&Co Resplendent Moissanite gemstones are backed by our own limited lifetime warranty.
      </p>
      <p>
        C&C® and Gema&Co provide a Limited Warranty that applies to your purchase of C&C Created Moissanite® jewelry and Forever One™ Moissanite gem(s) OR Gema&Co Resplendent Moissanite. The terms of the 
        Limited Warranty include a warranty against defects in material and workmanship in the 
        gem(s) (limited lifetime warranty).
      </p>
      <p>This Limited Warranty covers optical properties of the Moissanite 
        stone including brilliance and fire, and the physical integrity of the
        Moissanite stone including chipping, breaking, scratching, and abrasions. It does not 
        cover: (a) damage or defects as a result of abuse, misuse, loss, or theft of your 
        Moissanite gem(s); or (b) damage or defects related to abuse, misuse, loss, or theft 
        of your jewelry piece.
      </p>
      <h3 class="c-header-l padding-top-s padding-bottom-s c-accent-color">Gema&Co Guarantee</h3>
      <p class="m-padding-top-none">We certify that all of our C&C branded Moissanite and Respledent Moissanite are authentic and comes with a Certificate of Authenticity and Limited Lifetime Warranty.
      </p>
      <p>In addition to the standard C&C Moissanite warranties, we stand by all 
        our jewelry and guarantee that all Gema&Co pieces are free of manufacturing defect at the time 
        of delivery. All of our fine jewelry comes with a six (6) month warranty in the rare event 
        there is a problem with your jewelry. We will repair or replace the item at no charge 
        if the problem is directly related to a structural, manufacturing defect.
      </p>
    </div>
  </div>
</div>

