{% include 'support-header' %}


<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-m m-padding-top-none padding-bottom-m">
  <div class="c-column-flex-2 padding-top-s">
    {% include 'support-sidebar', curr_page: 'Payment Options' %}
  </div>
  <div class="c-column-flex-7">
    <div>
      <h3 class="c-header-l padding-top-s padding-bottom-s secondary-font">Payment Options</h3>
      <p>Gema&Co offers several payment options to meet your needs:</p>
      <h3 class="c-header-l padding-top-s padding-bottom-s secondary-font">Credit Card</h3>
      <p>Gema&Co accepts all major credit cards: Visa, Mastercard, American Express and Discover.</p>
	  <ul>
        <li class="c-li-style-disc">Enter credit card and billing information once prompted during checkout process.</li>
        <li class="c-li-style-disc">Gema&Co does not save credit card information. For more details please view our Privacy Policy.</li>
      </ul>
      <h3 class="c-header-l padding-top-s padding-bottom-s secondary-font">Paypal Credit</h3>
      <p>Flexible financing and easy payments - pay off your purchase within 6 months and pay no interest!</p>
	  <ul>
        <li class="c-li-style-disc">Qualifying purchases may offer no payments for 6 months. Purchase must be paid in full by end of 6 month period.</li>
        <li class="c-li-style-disc">Please visit Paypal - Paypal Credit account required.</li>
      </ul>
      <p>Gema&Co does not accept checks, money orders, cash or multiple credit cards on a single purchase.</p>
    </div>
  </div>
</div>
