{% include 'support-header' %}


<div class="page-width c-column-flex-container c-mobile-flex-column padding-top-m m-padding-top-none padding-bottom-m">
  <div class="c-column-flex-2 padding-top-s">
    {% include 'support-sidebar', curr_page: 'FAQ' %}
  </div>
  <div class="c-column-flex-7">
    <h1 class="c-header-l padding-top-s padding-bottom-xs c-accent-color">Frequently Asked Questions</h1>
    <div class="c-tabs-content">
      <div class="c-tab-content active padding-none">
        <div class="pg-bg-primary padding-top-s padding-bottom-s m-padding-top-xs">
          <div class="custom-about-content c-accent-color">
            <div>
              <h3 class="c-header-l about-margin">Moissanite History & Facts</h3>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">What Are Moissanites?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Moissanite is composed of silicon carbide and is a rare mineral that originates from space meteorites. 
                    Moissanites were first discovered by chemist Dr. Henri Moissan at the site of a massive meteorite strike 
                    in Arizona, USA. This new stone was named 'Moissanite' in his 
                    honor as Dr. Moissan spent the rest of his life attempting to recreate 
                    this rare mineral in his laboratory.</p>
                  <p>It wasn't until the late 80's 
                     where scientists developed the innovative 
                    thermal growing process that made Moissanites more widely available to consumers.
                  </p>
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Is Moissanite a brand of diamond or simulated diamond?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Moissanite is not a Diamond or substitute of a Diamond, either scientifically, chemically or emotionally. Moissanite is not a fake Diamond but rather a different type of clear gemstone (just like White Sapphires) with its own set of chemical and optical properties. 
                  </p>
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Why are Moissanites sold by millimeter rather than carats?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Carat is the traditional unit of measurement for a Diamond's weight. Moissanites are not measured in carats because it weighs approximately 10 percent less than diamond. For example, a 6.5mm round diamond would weigh 1.0ct, while a 6.5mm round moissanite would weigh 0.88ct. The two stones would visually be the same size - 6.5mm in diameter. All stones for sale are listed with their size in millimeters and the diamond equivalent weight (DEW) in carats.
                  </p>  
                </div>
              </div>
            </div>
            <div class="padding-top-m m-padding-top-xs">
              <h3 class="c-header-l about-margin">Color, Cut, & Clarity</h3>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Will Moissanite color fade or change over time?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    There are no likely situations in which the color of moissanite (or any other gemstone) will be permanently changed. Moissanites experience a temporary color change when exposed to extreme heat from a jeweler's torch during jewelry repair, but with proper bench techniques there will be no lasting damage, and the stone will return to its normal color once it cools.
                  </p>  
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Do Moissanites have inclusions?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Moissanite can have needle-like inclusions that can be seen under 10x magnification. However, they are not visible to the naked eye and do not affect the clarity of the stone. It's worth noting that nearly every gem has some sort of inclusion. They are unique characteristics, which occur in the formation of the crystalline structure.
                  </p>  
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Are Moissanites an ideal cut?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Moissanites are all carefully and precisely faceted and cut according to the exact angles and ideal proportions to maximize its brilliance and enhance its incredible fire.
                  </p> 
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">How are Moissanites graded on clarity?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Our Moissanites are graded by gemologists certified by the Gemological Institute of America (GIA). Each Moissanite is studied by trained grading specialists using a 10x jeweler's loupe for any inclusions that may affect the gemstone’s quality.
                  </p>  
                </div>
              </div>
            </div>
            <div class="padding-top-m m-padding-top-xs">
              <h3 class="c-header-l about-margin">Brilliance & Fire Dispersion</h3>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">What properties of Moissanite makes it sparkle?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    The most significant optical property affecting a gemstone's brilliance, or sparkle, is the refractive index or RI. The RI of moissanite ranges from 2.65 to 2.69, meaning it displays more brilliance than diamond (with an RI of 2.42) or any other popular gemstone.
                  </p>  
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">What gives Moissanite its fire?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    A gemstone's fire is determined by a gemological property called dispersion. Dispersion refers to the prism effect that occurs when pure white light enters a non-opaque object, breaks into spectral (rainbow) colors, and reflects back to the viewer. Moissanite's dispersion is 0.104, which exceeds that of any gemstone, including diamond, ruby, sapphire and emerald.
                  </p>  
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Will the brilliance or fire of Moissanite fade over time?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Each Moissanite is backed by a Limited Lifetime Warranty which guarantees that every Moissanite gemstone will maintain its brilliance and fire forever.
                  </p>  
                </div>
              </div>
            </div>
            <div class="padding-top-m m-padding-top-xs">
              <h3 class="c-header-l about-margin">Quality, Hardness, & Toughness</h3>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Are Moissanites resistant to scratches?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Moissanite is durable, tough and extremely resistant to scratching and abrasion. With a hardness of 9.25, moissanite is harder than all other gemstones except diamond. Each Moissanite is backed by a Limited Lifetime Warranty that protects against damages to the stone.
                  </p>  
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">How durable are Moissanites?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Moissanite is one of the toughest gemstones. Studies in high pressure research have shown that moissanite is highly resistant to breaking and chipping. Each Moissanite is backed by a Limited Lifetime Warranty that protects against damages to the stone.
                  </p>  
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Are Moissanites heat resistant?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Moissanite exhibits more heat resistance than many other gemstones, including diamond. Tests prove that at 2000ºF - higher than the equivalent intensity of a house fire - moissanite gems remain intact and as brilliant as the day they were created. This heat tolerance makes moissanite unlikely to suffer damage during jewelry repair.
                  </p>  
                </div>
              </div>
            </div>
            <div class="padding-top-m m-padding-top-xs">
              <h3 class="c-header-l about-margin">Repairs & Care</h3>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">How should I care for Moissanites?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    You may clean moissanite the same way you would diamond or any other fine gemstone. As with any fine jewelry item, an ultrasonic cleaner can be used. However, it is best to be gentle with your valuable treasures. You can also clean your moissanite jewelry using a commercial (non-acid based) jewelry cleaner or with mild soap and water using a soft toothbrush.
                  </p>  
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Can Moissanites withstand repairs and sizing?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Moissanite is an extremely stable material. It is durable, tough and highly resistant to scratching, abrasion, breaking and chipping. Its high heat tolerance makes moissanite very unlikely to experience damage during jewelry repair.
                  </p>
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Can Moissanites be reset into new jewelry?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    Resetting your moissanite gemstone(s) into a new piece of jewelry is very common and can be done by an experienced jeweler. Jewelry designers and manufacturers create their jewelry collections with moissanites use techniques very similar to those practiced by bench jewelers.
                  </p>
                </div>
              </div>
              <div class="padding-top-m m-padding-top-xs">
                <h3 class="c-header-l about-margin">Lab Created Gemstones</h3>
                <div class="about-row">
                  <a href="#" class="js-dropdown-content-link">
                    <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                    <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                    <h4 class="c-a-header">Are lab created gemstones real or artificial?</h4>
                  </a>
                  <div class="js-dropdown-content about-content hidden">
                    <p>
                      Lab-grown gemstones are cultured just like you would 
                      culture a pearl. Natural ingredients are placed in an environment 
                      created to duplicate nature. Once the required combination of chemical 
                      and environmental factors is created, gemstone crystals grow over the 
                      course of about a year (the exact length of time depends on the variety). 
                      As a result, the crystals grown have physical, chemical, and optical 
                      properties that are identical to those found in nature.
                    </p>
                  </div>
                </div>
                <div class="about-row">
                  <a href="#" class="js-dropdown-content-link">
                    <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                    <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                    <h4 class="c-a-header">Can I tell the difference between created gemstones and mined gemstones?</h4>
                  </a>
                  <div class="js-dropdown-content about-content hidden">
                    <p>
                      Unless you’re a certified gemologist with a powerful microscope, you 
                      won’t be able to tell the difference between lab created and mined 
                      gemstones.
                    </p>
                  </div>
                </div>
                <div class="about-row">
                  <a href="#" class="js-dropdown-content-link">
                    <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                    <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                    <h4 class="c-a-header">Do lab created gemstones look better than their mined counterparts?</h4>
                  </a>
                  <div class="js-dropdown-content about-content hidden">
                    <p>Under laboratory conditions and computers control temperatures, 
                      foreign materials found in the earth are eliminated from our starting 
                      chemicals. This makes lab grown gems more predictable and consistent. 
                      Only the best qualities and colors make it to the retail market.
                      Lower qualities will not make it past quality control and are not released for sale.
                    </p>  
                  </div>
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Are these stones enhanced or color treated?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>
                    No. All gemstones are grown in a lab under a controlled 
                    environment producing the most purest color possible. 
                    The chemical structure and coloring agents are equivalent to its mined counterparts.
                  </p>  
                </div>
              </div>
              <div class="about-row">
                <a href="#" class="js-dropdown-content-link">
                  <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                  <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                  <h4 class="c-a-header">Are lab-grown gemstones as durable as mined gemstones?</h4>
                </a>
                <div class="js-dropdown-content about-content hidden">
                  <p>Yes. In fact, lab created stones are more durable 
                    because they have fewer inclusions than most of their mined counterparts.
                    For lab grown gems, 80% of the rough parts are cut away to deliver near a “flawless” 
                    piece. The hardness of lab created stones are exactly the same as their mined counterparts. 
                    In addition, a Lifetime Warranty is offered to back our promise of quality, 
                    which is something uncommon for any mined gemstone.
                  </p>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  GemaDropdowns.initialize('js-dropdown-content-link');
</script>